workflows/DZPU5vCyok2txc58.json
{
  "active": false,
  "connections": {
    "OpenAI1": {
      "main": [
        [
          {
            "node": "msg rmkt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "adc +1 rmk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "proximo rmkt": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg rmkt1": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S33": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "concatena os audios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "envia audio - chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia audio - chatwoot": {
      "main": [
        [
          {
            "node": "ajustas tag chatwoot (#rfollow-up-valores-3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "concatena os audios": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Gera audio - expert",
            "type": "main",
            "index": 0
          },
          {
            "node": "S33",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gera audio - expert": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica 3 rmkt": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "verificar o fup1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "adc +1 rmk1": {
      "main": [
        [
          {
            "node": "proximo rmkt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verificar o fup1": {
      "main": [
        [
          {
            "node": "ajustas tag chatwoot (#follow-up-valores-1)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ajustas tag chatwoot (#follow-up-valores-2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RMKT - recebeu-valores": {
      "main": [
        [
          {
            "node": "busca tags no chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca tags finais": {
      "main": [
        [
          {
            "node": "verifica tag +72h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop tags finais": {
      "main": [
        [],
        [
          {
            "node": "dados normalizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados normalizado": {
      "main": [
        [
          {
            "node": "ajustas tag chatwoot (inativo-valores)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RMKT - verifica tag follow-up-valores-3": {
      "main": [
        [
          {
            "node": "busca tags finais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ajustas tag chatwoot (inativo-valores)": {
      "main": [
        [
          {
            "node": "loop tags finais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica 2o rmkt +24h": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "verifica 3o rmkt2 +48h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica 3o rmkt2 +48h": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "busca dados do usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica tag +72h": {
      "main": [
        [
          {
            "node": "loop tags finais",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "expert": {
      "main": [
        [
          {
            "node": "verifica 3 rmkt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca dados do usuario": {
      "main": [
        [
          {
            "node": "expert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ajustas tag chatwoot (#rfollow-up-valores-3)": {
      "main": [
        [
          {
            "node": "adc +1 rmk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ajustas tag chatwoo ()": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verfi. qtadade rmkt": {
      "main": [
        [
          {
            "node": "ajustas tag chatwoo ()",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ultimo contato +4h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica chave de repeticao": {
      "main": [
        [
          {
            "node": "verfi. qtadade rmkt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "primeira normalizacao": {
      "main": [
        [
          {
            "node": "verifica chave de repeticao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "primeira normalizacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca tags no chatwoot": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ultimo contato +4h": {
      "main": [
        [
          {
            "node": "verifica 2o rmkt +24h",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ajustas tag chatwoot (#follow-up-valores-1)1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ajustas tag chatwoot (#follow-up-valores-2)": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-24T13:25:59.866Z",
  "id": "DZPU5vCyok2txc58",
  "meta": null,
  "name": "🔥💸[2] RMKT | QUENTE | #recebeu-valores",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um assistente de marketing que cria mensagens de reengajamento personalizadas para usuários que entraram em contato mas não prosseguiram na conversa.\n\nDados de entrada:\n- Contador de remarketing: {{ $json.contador_rmkt }}\n- Nome do usuário: {{ $('busca dados do usuario').item.json.name }}\n- Gênero do usuário: {{ $('busca dados do usuario').item.json.custom_attributes.genero }}\n  (valores possíveis: \"M\" ou \"F\")\n- Principais benefícios: Consultoria especilizada, individual         ← lista 2-3 itens separados por vírgula\n- Dias restantes: 5           ← número de dias até expiração das condições\n\nRegras:\n1. Se `contador_rmkt == 1` (follow-up-valores-1), use:\n   “Oi [nome], só confirmando se [seu/sua] recebeu os valores que enviei. Alguma dúvida sobre as opções disponíveis?”\n\n2. Se `contador_rmkt == 2` (follow-up-valores-2), use:\n   “nome, gostaria de destacar que o investimento que apresentei inclui [beneficios]. Muitos clientes consideram isso um excelente custo-benefício. O que você acha?”\n\n3. Se `contador_rmkt == 3` (follow-up-valores-3), use:\n   “Ei [nome], só para avisar que essas condições especiais que te enviei estão disponíveis por mais [dias restante] dias. Depois disso, não posso garantir os mesmos valores. Podemos avançar?”\n\n– Adapte “seu”/“sua” conforme gênero (M→“seu”; F→“sua”).  \n– Retorne apenas a mensagem final, sem formatação extra.\n",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "id": "a1ad9aff-aef5-4c62-884b-eef13835aff7",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [
        -40,
        760
      ],
      "credentials": {
        "openAiApi": {
          "id": "OqiZuzKjXxienn7V",
          "name": "peak-key-gorila"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        980,
        460
      ],
      "id": "de4a6bce-044f-49e1-a8c2-70a433f8e736",
      "name": "Wait",
      "webhookId": "84c0e957-4cc1-4995-a93d-c8075fc95fe1",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1900,
        800
      ],
      "id": "3d39b26c-72e9-4016-9b1d-8db2d1e2bd30",
      "name": "proximo rmkt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('primeira normalizacao').item.json.chatwoot.url }}/api/v1/accounts/{{ $('primeira normalizacao').item.json.chatwoot.account_id }}/conversations/{{ $('primeira normalizacao').item.json.chatwoot.conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('primeira normalizacao').item.json.chatwoot.api }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.message.content }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "id": "90160524-cc83-4828-a682-d00d708a70b0",
      "name": "msg rmkt1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        340,
        760
      ],
      "retryOnFail": true,
      "notesInFlow": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const binaryPropertyName = 'data';\n\n// Atualiza o mimeType para audio/mpeg, caso necessário\nitems[0].binary[binaryPropertyName].mimeType = 'audio/mpeg';\n\n// Se quiser alterar o nome do arquivo, pode adicionar este código\nconst newName = 'data0';\nitems[0].binary[binaryPropertyName].fileName = newName;\n\nreturn items;\n"
      },
      "id": "4749d011-431d-4c7d-976c-996fcf3ca452",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        20
      ],
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "bucketName": "botfai-codefai",
        "fileKey": "={{ $json.nome_arquivo }}"
      },
      "id": "edad3a32-ab55-43ed-bc2e-2edc97534a39",
      "name": "S33",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        220,
        200
      ],
      "credentials": {
        "s3": {
          "id": "Qf1fEVOZkjSjJlhh",
          "name": "Backblaze-Peak"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const binaryPropertyName = 'data';\n\n// Nova extensão do arquivo\nconst newExtension = 'mpga';\n\n// Atualiza a extensão do arquivo\nitems[0].binary[binaryPropertyName].fileExtension = newExtension;\n\n// Atualiza o mimeType para audio/mpeg, caso necessário\nitems[0].binary[binaryPropertyName].mimeType = 'audio/mpeg';\n\n// Se quiser alterar o nome do arquivo, pode adicionar este código\nconst newName = 'data1';\nitems[0].binary[binaryPropertyName].fileName = newName;\n\nreturn items;"
      },
      "id": "c36b58e1-8765-4382-8a96-c4df1b52998e",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        200
      ],
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        580,
        100
      ],
      "id": "8894bdca-4cdf-49d0-8929-73abbcac3604",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "binary.data.data",
        "options": {
          "fileName": "audio-concatenado"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        940,
        100
      ],
      "id": "a16bdc4a-721a-48cc-b731-64e174e89206",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('primeira normalizacao').first().json.chatwoot.url }}/api/v1/accounts/{{ $('primeira normalizacao').first().json.chatwoot.account_id }}/conversations/{{ $('primeira normalizacao').first().json.chatwoot.conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('primeira normalizacao').first().json.chatwoot.api }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "attachments[]",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        100
      ],
      "id": "4104700c-4fbc-4d14-9ffa-1665e088abd2",
      "name": "envia audio - chatwoot",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const binaryPropertyName = 'data';\n\n// Verifica se há pelo menos três itens\nif (items.length < 2) {\n    throw new Error('Esperado pelo menos três itens com arquivos binários.');\n}\n\n// Obtém os dados binários do primeiro, segundo e terceiro item\nconst audio1 = items[0].binary[binaryPropertyName].data;\nconst audio2 = items[1].binary[binaryPropertyName].data;\n\n// Converte cada áudio de base64 para um Buffer e os concatena\nconst concatenatedBuffer = Buffer.concat([\n    Buffer.from(audio1, 'base64'),\n    Buffer.from(audio2, 'base64')\n]);\n\n// Define o nome do arquivo concatenado\nconst newName = 'concatenated_audio.mp3';\n\n// Retorna o novo arquivo binário concatenado\nreturn {\n    binary: {\n        data: {\n            data: concatenatedBuffer.toString('base64'),\n            fileName: newName,\n            mimeType: 'audio/mpeg'\n        }\n    }\n};\n"
      },
      "id": "b3ddfc43-6037-4353-ba95-95b4163cc73d",
      "name": "concatena os audios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        100
      ],
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Dentro do seu Function Node no n8n\nreturn items.map(item => {\n  const accountId = parseInt(item.json.expert.id, 10);\n\n  // mapeamento id → { name, id_voice, nomeArquivo }\n  const lookup = {\n    29: {\n       name: 'Giga',\n       id_voice: '0zyjX5Vx7gZMmbWryhqx',\n       nomeArquivo: 'peak audios experts/fabio giga - quente - recebeu-valores.mp3'\n     },\n    27: { name: 'Vitor Porto',      id_voice: 'INSIRA_ID_VOICE_27', nomeArquivo: null },\n    26: { name: 'Bianchi',          id_voice: 'INSIRA_ID_VOICE_26', nomeArquivo: null },\n    25: { name: 'Karen',            id_voice: 'INSIRA_ID_VOICE_25', nomeArquivo: null },\n    24: { name: 'Pantera',          id_voice: 'INSIRA_ID_VOICE_24', nomeArquivo: null },\n    23: { name: 'Vitor Chaves',     id_voice: 'INSIRA_ID_VOICE_23', nomeArquivo: null },\n    22: { name: 'Edvan',            id_voice: 'INSIRA_ID_VOICE_22', nomeArquivo: null },\n    21: { name: 'Isa',              id_voice: 'INSIRA_ID_VOICE_21', nomeArquivo: null },\n    20: { name: 'Basa',             id_voice: 'INSIRA_ID_VOICE_20', nomeArquivo: null },\n    19: { name: 'Horse',            id_voice: 'INSIRA_ID_VOICE_19', nomeArquivo: null },\n    18: { name: 'Lala',             id_voice: 'INSIRA_ID_VOICE_18', nomeArquivo: null },\n    17: { name: 'Rafael Brandão',   id_voice: 'INSIRA_ID_VOICE_17', nomeArquivo: null },\n    16: { name: 'Johann',           id_voice: 'INSIRA_ID_VOICE_16', nomeArquivo: null },\n    15: { name: 'Zanca',            id_voice: 'INSIRA_ID_VOICE_15', nomeArquivo: null },\n    14: { name: 'Jú Caceres',       id_voice: 'INSIRA_ID_VOICE_14', nomeArquivo: null },\n    13: { name: 'Francielle Mattos',id_voice: 'INSIRA_ID_VOICE_13', nomeArquivo: null },\n    12: { name: 'Tenente Breno',    id_voice: 'INSIRA_ID_VOICE_12', nomeArquivo: null },\n    11: { name: 'Lucas Pinheiro',   id_voice: 'INSIRA_ID_VOICE_11', nomeArquivo: null },\n    10: { name: 'Pinduca',          id_voice: 'INSIRA_ID_VOICE_10', nomeArquivo: null },\n     9: { name: 'Gorila',           id_voice: 'INSIRA_ID_VOICE_9',  nomeArquivo: null },\n     8: { name: 'Rude',             id_voice: 'INSIRA_ID_VOICE_8',  nomeArquivo: null },\n     7: { name: 'Gnomo',            id_voice: 'INSIRA_ID_VOICE_7',  nomeArquivo: null },\n     6: { name: 'Angela Borges',    id_voice: 'INSIRA_ID_VOICE_6',  nomeArquivo: null },\n     5: {\n       name: 'Giga',\n       id_voice: '0zyjX5Vx7gZMmbWryhqx',\n       nomeArquivo: 'peak audios experts/fabio giga - morno - fotos.mp3'\n     },\n     4: { name: 'Jorlan',           id_voice: 'INSIRA_ID_VOICE_4',  nomeArquivo: null },\n     3: { name: 'Bruno Santos',     id_voice: 'INSIRA_ID_VOICE_3',  nomeArquivo: null },\n  };\n\n  const info = lookup[accountId] || { name: 'Unknown', id_voice: null, nomeArquivo: null };\n\n  item.json.account_name = info.name;\n  item.json.id_voice     = info.id_voice;\n  item.json.nome_arquivo = info.nomeArquivo;\n\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        120
      ],
      "id": "74c56962-069e-4fdc-b91a-2ce4844334f2",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{ $json.id_voice }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "=sk_037698b583f1a0a07d33dd84b1e353aa93cd0ced13923322"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"Oi {{ $('busca dados do usuario').item.json.name }}\",\n\"voice_settings\": {\n    \"stability\": 1.0,\n    \"similarity_boost\": 0.23,\n    \"style\": 1.0,\n    \"use_speaker_boost\": true\n  },\n  \"model_id\": \"eleven_multilingual_v2\"\n}",
        "options": {}
      },
      "id": "fa6922ac-cd35-408f-86bf-f6bf022ffcbb",
      "name": "Gera audio - expert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        20
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.contador_rmkt }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1270b97d-1e87-4cda-b82c-dc3ac7440a38"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "rmkt 3"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -420,
        620
      ],
      "id": "b6e961c7-990e-43fd-a333-056773273749",
      "name": "verifica 3 rmkt"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        760
      ],
      "id": "152cdb02-2018-4857-b6ca-cde1ef567892",
      "name": "Wait3",
      "webhookId": "f915a275-890d-4f9f-a9ed-ccf081d71a05"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=rmkt:rmkt-recebeu-valores-quente:{{ $('primeira normalizacao').first().json.chatwoot.conversation_id }}",
        "value": "={{ \n  (parseInt(\n     $('verifica chave de repeticao').first().json.rep || '0'\n     , 10\n  ) + 1).toString() \n}}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1480,
        460
      ],
      "id": "b8f92c7e-3f30-4269-a9e4-8b2956b1aa66",
      "name": "adc +1 rmk1",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "CnAYUverQDl88vKP",
          "name": "redis-peak"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('expert').first().json.contador_rmkt }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "21f6c463-967e-4872-a6ed-ecf2eadce7a9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "primeiro"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8a21c02d-29c7-44a4-a3b3-774603cd4359",
                    "leftValue": "={{ $('expert').first().json.contador_rmkt }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "segundo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        760,
        760
      ],
      "id": "76c1612c-0935-485d-abea-8301b8de153d",
      "name": "verificar o fup1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                2,
                4,
                3,
                1,
                5,
                6
              ],
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "24d44946-d91d-4b2d-a489-0d971d7aabe0",
      "name": "RMKT - recebeu-valores",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2140,
        100
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM conversations\nWHERE cached_label_list LIKE '%teste%'\nAND cached_label_list NOT LIKE '%rmkt-pausado%'\nLIMIT 3;\n",
        "options": {}
      },
      "id": "aac520c1-91a2-464e-b972-e04af5ce4d37",
      "name": "TESTES",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1720,
        1100
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "# TESTES\n",
        "height": 260,
        "width": 400,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1720,
        1000
      ],
      "typeVersion": 1,
      "id": "805537e7-3702-4ffd-a6ff-4126df9a1f1f",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "rmkt:rmkt-recebeu-valores-quente:8454"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1520,
        1100
      ],
      "id": "5ca5babc-80b9-404e-a2e6-21ac62b83bf2",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "CnAYUverQDl88vKP",
          "name": "redis-peak"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "empresas_sc",
          "mode": "list",
          "cachedResultName": "empresas_sc"
        },
        "where": {
          "values": [
            {
              "column": "ddd_telefone_1",
              "value": "554788084688"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1420,
        1100
      ],
      "id": "411f1229-41c7-4389-a03c-338d8e51a37f",
      "name": "Postgres",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "key": "rmkt:rmkt-frio:8454",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1620,
        1100
      ],
      "id": "568009ff-0f04-4590-82c2-217ae6b362c4",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "CnAYUverQDl88vKP",
          "name": "redis-peak"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM conversations\nWHERE cached_label_list LIKE '%follow-up-valores-3%'\n",
        "options": {}
      },
      "id": "adb2d07a-ac25-4545-b336-9e1109e1e3e3",
      "name": "busca tags finais",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1540,
        1380
      ],
      "credentials": {
        "postgres": {
          "id": "cicjfix16kiWOkLl",
          "name": "db-chatwoot"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "47040f99-b45b-4f30-a027-22fae49a34bf",
      "name": "loop tags finais",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1100,
        1380
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44fb55f7-f826-43e7-a852-e172b4424719",
              "name": "chatwoot.conversation_id",
              "value": "={{ $json.display_id }}",
              "type": "string"
            },
            {
              "id": "7b780b0f-a284-4c98-8584-e8cf770a2119",
              "name": "chatwoot.contact_id",
              "value": "={{ $json.contact_id }}",
              "type": "string"
            },
            {
              "id": "7399a9cc-0c3e-4933-93de-d7b319bdbf7f",
              "name": "chatwoot.tags",
              "value": "={{ $json.cached_label_list }}",
              "type": "string"
            },
            {
              "id": "3874327b-7ef4-4a2a-bfe7-b1a85311d419",
              "name": "chatwoot.url",
              "value": "https://chat.peakperformance.app.br",
              "type": "string"
            },
            {
              "id": "e9db23b6-edec-4a32-b307-75e41cd656ab",
              "name": "chatwoot.api",
              "value": "LvhQmNGvsFaAPowvRQdszrZ1",
              "type": "string"
            },
            {
              "id": "da400608-12b0-4108-9ead-734f5ce9680d",
              "name": "chatwoot.account_id",
              "value": "={{ $json.account_id }}",
              "type": "string"
            },
            {
              "id": "a650336e-85f5-4691-ab6d-fc81ecdcb6ca",
              "name": "dados.ultima_atividade",
              "value": "={{ $json.last_activity_at }}",
              "type": "string"
            },
            {
              "id": "a81b0a33-60e2-446a-9efe-967c876942a6",
              "name": "chatwoot.labels",
              "value": "={{ \n  $json.cached_label_list\n    .split(',')\n    .map(label => `\"${label.trim()}\"`)\n    .join(', ')\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -840,
        1380
      ],
      "id": "2e70c53f-10b2-4153-92d9-1c2a8de0fcfc",
      "name": "dados normalizado"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 10
            }
          ]
        }
      },
      "id": "da234bc8-9242-471f-ad8b-7228a58b3618",
      "name": "RMKT - verifica tag follow-up-valores-3",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1720,
        1380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('dados normalizado').first().json.chatwoot.url }}/api/v1/accounts/{{ $('dados normalizado').first().json.chatwoot.account_id }}/conversations/{{ $('dados normalizado').first().json.chatwoot.conversation_id }}/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('dados normalizado').first().json.chatwoot.api }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"labels\": [\"lead-quente\",\"rmkt-pausado\",\"sem-resposta\", \"inativo-valores\", \"iniciou-atendimento\"\n]\n}",
        "options": {}
      },
      "id": "4f75b3e0-c49c-4be2-a232-109e95143d36",
      "name": "ajustas tag chatwoot (inativo-valores)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -620,
        1380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "549e1167-b611-43c1-8f15-4a4d71c31ceb",
              "leftValue": "={{    (     Date.now()      - new Date($node[\"primeira normalizacao\"].json.dados.ultima_atividade).getTime()   ) < 24 * 60 * 60 * 1000  }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "fdecafbd-0ddd-4319-b5f0-923d02204336",
              "leftValue": "={{ $json.rep }}",
              "rightValue": "2",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1060,
        440
      ],
      "id": "40b4c4ff-1b7a-4e09-b670-36c98345099c",
      "name": "verifica 2o rmkt +24h"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "549e1167-b611-43c1-8f15-4a4d71c31ceb",
              "leftValue": "={{    (     Date.now()      - new Date($node[\"primeira normalizacao\"].json.dados.ultima_atividade).getTime()   ) < 48 * 60 * 60 * 1000  }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "09739bf7-b726-4205-b605-2669f0eeece6",
              "leftValue": "={{ $json.rep }}",
              "rightValue": "3",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1060,
        600
      ],
      "id": "275f2569-b4b8-47fc-9971-4620c1f7a7f5",
      "name": "verifica 3o rmkt2 +48h"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "549e1167-b611-43c1-8f15-4a4d71c31ceb",
              "leftValue": "={{ \n  (Date.now() - new Date($json.last_activity_at).getTime()) > 72 * 60 * 60 * 1000 \n}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1360,
        1380
      ],
      "id": "e503fbf5-5b09-4dd0-bd52-d6f405158283",
      "name": "verifica tag +72h"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3f93e7d-4750-451e-b7e3-41cae9571365",
              "name": "expert.nome",
              "value": "={{    ({     29: 'conta_teste',     27: 'Vitor Porto',     26: 'Bianchi',     25: 'Karen',     24: 'Pantera',     23: 'Vitor Chaves',     22: 'Edvan',     21: 'Isa',     20: 'Basa',     19: 'Horse',     18: 'Lala',     17: 'Rafael Brandão',     16: 'Johann',     15: 'Zanca',     14: 'Jú Caceres',     13: 'Francielle Mattos',     12: 'Tenente Breno',     11: 'Lucas Pinheiro',     10: 'Pinduca',     9:  'Gorila',     8:  'Rude',     7:  'Gnomo',     6:  'Angela Borges',     5:  'Giga',     4:  'Jorlan',     3:  'Bruno Santos'   })[     $node[\"primeira normalizacao\"].json.chatwoot.account_id   ] || 'Unknown' }}",
              "type": "string"
            },
            {
              "id": "3442cdcf-7825-4266-b3de-94f0d5704953",
              "name": "contador_rmkt",
              "value": "={{ \n  (\n    parseInt(\n      $('verifica 2o rmkt +24h').first().json.rep || '0', \n      10\n    ) + 1\n  ).toString() \n}}",
              "type": "string"
            },
            {
              "id": "bce27d37-4c5c-4316-8411-d25eeda9f2e2",
              "name": "expert.id",
              "value": "={{ $('primeira normalizacao').item.json.chatwoot.account_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -620,
        620
      ],
      "id": "866b0b8f-322f-4783-be24-6c23aec1384e",
      "name": "expert"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "contacts",
          "mode": "list",
          "cachedResultName": "contacts"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('primeira normalizacao').item.json.chatwoot.contact_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -800,
        620
      ],
      "id": "bd724c5e-42d0-49ba-95ef-962526353552",
      "name": "busca dados do usuario",
      "credentials": {
        "postgres": {
          "id": "cicjfix16kiWOkLl",
          "name": "db-chatwoot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('primeira normalizacao').first().json.chatwoot.url }}/api/v1/accounts/{{ $('primeira normalizacao').first().json.chatwoot.account_id }}/conversations/{{ $('primeira normalizacao').first().json.chatwoot.conversation_id }}/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('primeira normalizacao').first().json.chatwoot.api }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"labels\": [{{ $('primeira normalizacao').first().json.chatwoot.labels }},\"follow-up-valores-3\", \"rmkt-quente\"\n]\n} ",
        "options": {}
      },
      "id": "9ceb17de-6873-4a4b-9501-0b94dbd163f9",
      "name": "ajustas tag chatwoot (#rfollow-up-valores-3)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('primeira normalizacao').first().json.chatwoot.url }}/api/v1/accounts/{{ $('primeira normalizacao').first().json.chatwoot.account_id }}/conversations/{{ $('primeira normalizacao').first().json.chatwoot.conversation_id }}/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('primeira normalizacao').first().json.chatwoot.api }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"labels\": [\n \"lead-quente\",\n \"recebeu-valores\",\n \"rmkt-pausado\",\n \"sem-resposta\"\n]\n}",
        "options": {}
      },
      "id": "95a507a1-2f2a-4738-a4a7-cb1c367140f1",
      "name": "ajustas tag chatwoo ()",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -840,
        100
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a3de925b-f2cd-4dc0-8de3-0fe7a18ee4de",
              "leftValue": "={{ ($json.rep && $json.rep.toNumber() !== 0) ? $json.rep.toNumber() : 1 }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f1e2c417-6478-4d0b-af7b-d39253848954",
      "name": "verfi. qtadade rmkt",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1060,
        120
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "=rep",
        "key": "=rmkt:rmkt-recebeu-valores-quente:{{ $json.chatwoot.conversation_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1260,
        120
      ],
      "id": "d1ab5476-e0f4-482f-9c98-e6f289617608",
      "name": "verifica chave de repeticao",
      "credentials": {
        "redis": {
          "id": "CnAYUverQDl88vKP",
          "name": "redis-peak"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44fb55f7-f826-43e7-a852-e172b4424719",
              "name": "chatwoot.conversation_id",
              "value": "={{ $json.display_id }}",
              "type": "string"
            },
            {
              "id": "7b780b0f-a284-4c98-8584-e8cf770a2119",
              "name": "chatwoot.contact_id",
              "value": "={{ $json.contact_id }}",
              "type": "string"
            },
            {
              "id": "7399a9cc-0c3e-4933-93de-d7b319bdbf7f",
              "name": "chatwoot.tags",
              "value": "={{ $json.cached_label_list }}",
              "type": "string"
            },
            {
              "id": "3874327b-7ef4-4a2a-bfe7-b1a85311d419",
              "name": "chatwoot.url",
              "value": "https://chat.peakperformance.app.br",
              "type": "string"
            },
            {
              "id": "e9db23b6-edec-4a32-b307-75e41cd656ab",
              "name": "chatwoot.api",
              "value": "LvhQmNGvsFaAPowvRQdszrZ1",
              "type": "string"
            },
            {
              "id": "da400608-12b0-4108-9ead-734f5ce9680d",
              "name": "chatwoot.account_id",
              "value": "={{ $json.account_id }}",
              "type": "string"
            },
            {
              "id": "a650336e-85f5-4691-ab6d-fc81ecdcb6ca",
              "name": "dados.ultima_atividade",
              "value": "={{ $json.last_activity_at }}",
              "type": "string"
            },
            {
              "id": "a81b0a33-60e2-446a-9efe-967c876942a6",
              "name": "chatwoot.labels",
              "value": "={{ \n  $json.cached_label_list\n    .split(',')\n    .map(label => `\"${label.trim()}\"`)\n    .join(', ')\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1440,
        120
      ],
      "id": "4cca9dfe-9b6e-42d1-b192-bf5bb4c342c4",
      "name": "primeira normalizacao"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "568b5314-fa66-43a4-9809-018073141355",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1680,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM conversations\nWHERE cached_label_list LIKE '%lead-quente%'\n  AND cached_label_list LIKE '%recebeu-valores%'\n  AND cached_label_list NOT LIKE '%sem-resposta%'\n  AND cached_label_list NOT LIKE '%follow-up-valores-3%' \n  AND cached_label_list NOT LIKE '%rmkt-pausado%';",
        "options": {}
      },
      "id": "dec41bf8-26ad-4356-b1e0-c5b1c9d67972",
      "name": "busca tags no chatwoot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1920,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "cicjfix16kiWOkLl",
          "name": "db-chatwoot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02bb5ee8-1456-4ddc-9cf6-9cb3ed04924e",
              "leftValue": "={{ \n  (Date.now() \n   - new Date($node[\"primeira normalizacao\"].json.dados.ultima_atividade).getTime()\n  ) > 4 * 60 * 60 * 1000 \n}}",
              "rightValue": "={{ DateTime.now().setZone(\"America/Sao_Paulo\").toFormat(\"dd/MM/yyyy\") }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "87878372-29e2-4c96-b6fc-8700494b4f28",
      "name": "ultimo contato +4h",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1060,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('primeira normalizacao').first().json.chatwoot.url }}/api/v1/accounts/{{ $('primeira normalizacao').first().json.chatwoot.account_id }}/conversations/{{ $('primeira normalizacao').first().json.chatwoot.conversation_id }}/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('primeira normalizacao').first().json.chatwoot.api }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"labels\": [{{ $('primeira normalizacao').item.json.chatwoot.labels }},\"follow-up-valores-1\", \"rmkt-quente\"\n]\n} ",
        "options": {}
      },
      "id": "a6ad4dad-f491-4e52-926c-550059ff6f0d",
      "name": "ajustas tag chatwoot (#follow-up-valores-1)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('primeira normalizacao').first().json.chatwoot.url }}/api/v1/accounts/{{ $('primeira normalizacao').first().json.chatwoot.account_id }}/conversations/{{ $('primeira normalizacao').first().json.chatwoot.conversation_id }}/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('primeira normalizacao').first().json.chatwoot.api }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"labels\": [{{ $('primeira normalizacao').first().json.chatwoot.labels }},\"follow-up-valores-2\", \"rmkt-quente\"\n]\n} ",
        "options": {}
      },
      "id": "99be602e-3a6f-41c5-ba84-240959344387",
      "name": "ajustas tag chatwoot (#follow-up-valores-2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        400
      ]
    }
  ],
  "pinData": {
    "RMKT - recebeu-valores": [
      {
        "json": {
          "timestamp": "2025-03-24T10:00:20.014-03:00",
          "Readable date": "March 24th 2025, 10:00:20 am",
          "Readable time": "10:00:20 am",
          "Day of week": "Monday",
          "Year": "2025",
          "Month": "March",
          "Day of month": "24",
          "Hour": "10",
          "Minute": "00",
          "Second": "20",
          "Timezone": "America/Sao_Paulo (UTC-03:00)"
        }
      }
    ],
    "TESTES": [
      {
        "json": {
          "id": 11610,
          "account_id": 1,
          "inbox_id": 19,
          "status": 1,
          "assignee_id": null,
          "created_at": "2025-03-13T00:56:10.683Z",
          "updated_at": "2025-03-10T21:19:49.077Z",
          "contact_id": "11059",
          "display_id": 11610,
          "contact_last_seen_at": "2025-03-13T15:36:00.446Z",
          "agent_last_seen_at": "2025-03-13T21:19:49.387Z",
          "additional_attributes": {},
          "contact_inbox_id": "18044",
          "uuid": "5685117b-57d0-430a-8a45-9db5c2248814",
          "identifier": null,
          "last_activity_at": "2025-03-10T21:19:49.073Z",
          "team_id": null,
          "campaign_id": null,
          "snoozed_until": null,
          "custom_attributes": {},
          "assignee_last_seen_at": null,
          "first_reply_created_at": null,
          "priority": null,
          "sla_policy_id": null,
          "waiting_since": null,
          "cached_label_list": "teste"
        }
      },
      {
        "json": {
          "id": 10911,
          "account_id": 1,
          "inbox_id": 64,
          "status": 1,
          "assignee_id": 2,
          "created_at": "2025-03-10T22:35:26.226Z",
          "updated_at": "2025-03-13T21:19:29.414Z",
          "contact_id": "10100",
          "display_id": 10911,
          "contact_last_seen_at": "2025-03-13T17:08:31.042Z",
          "agent_last_seen_at": "2025-03-10T21:19:29.730Z",
          "additional_attributes": {
            "mail_subject": "undefined"
          },
          "contact_inbox_id": "16714",
          "uuid": "acd8d315-42da-4726-8d4f-353689d72103",
          "identifier": null,
          "last_activity_at": "2025-03-10T21:19:29.409Z",
          "team_id": null,
          "campaign_id": null,
          "snoozed_until": null,
          "custom_attributes": {},
          "assignee_last_seen_at": "2025-03-13T17:10:48.394Z",
          "first_reply_created_at": "2025-03-10T22:35:26.244Z",
          "priority": null,
          "sla_policy_id": null,
          "waiting_since": null,
          "cached_label_list": "teste"
        }
      },
      {
        "json": {
          "id": 11622,
          "account_id": 1,
          "inbox_id": 14,
          "status": 1,
          "assignee_id": 1,
          "created_at": "2025-03-13T16:58:01.792Z",
          "updated_at": "2025-03-13T21:19:39.743Z",
          "contact_id": "10410",
          "display_id": 11622,
          "contact_last_seen_at": null,
          "agent_last_seen_at": "2025-03-13T21:19:40.232Z",
          "additional_attributes": {
            "mail_subject": ""
          },
          "contact_inbox_id": "18060",
          "uuid": "bffe8259-0f48-4832-b511-d84dfad2bcbb",
          "identifier": null,
          "last_activity_at": "2025-03-10T21:19:39.734Z",
          "team_id": null,
          "campaign_id": null,
          "snoozed_until": null,
          "custom_attributes": {},
          "assignee_last_seen_at": "2025-03-13T21:19:40.232Z",
          "first_reply_created_at": "2025-03-13T16:58:01.803Z",
          "priority": null,
          "sla_policy_id": null,
          "waiting_since": null,
          "cached_label_list": "teste"
        }
      }
    ],
    "RMKT - verifica tag follow-up-valores-3": [
      {
        "json": {
          "timestamp": "2025-03-24T10:00:20.014-03:00",
          "Readable date": "March 24th 2025, 10:00:20 am",
          "Readable time": "10:00:20 am",
          "Day of week": "Monday",
          "Year": "2025",
          "Month": "March",
          "Day of month": "24",
          "Hour": "10",
          "Minute": "00",
          "Second": "20",
          "Timezone": "America/Sao_Paulo (UTC-03:00)"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-25T04:46:32.485Z",
  "versionId": "27ac1d81-733a-4cde-9d1e-31df97a1e2c6"
}