workflows/fJ7J5nkAXPVnZp10.json
{
  "active": false,
  "connections": {
    "Get Block Chat Id": {
      "main": [
        [
          {
            "node": "Switch Block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Evolution API": {
      "main": [
        [
          {
            "node": "Limpa dados no REDIS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limpa dados no REDIS block",
            "type": "main",
            "index": 0
          },
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get messages buffer": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "push message buffer": {
      "main": [
        [
          {
            "node": "get messages buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "get messages buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete buffer": {
      "main": [
        [
          {
            "node": "Split User messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chatInput": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split User messages": {
      "main": [
        [
          {
            "node": "Parse message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse message": {
      "main": [
        [
          {
            "node": "Switch Content Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get audio base64 EvolutionAPI": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "OpenAI Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message audio content": {
      "main": [
        [
          {
            "node": "Merge Append",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "chatInput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message text content": {
      "main": [
        [
          {
            "node": "Merge Append",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Switch Block": {
      "main": [
        [
          {
            "node": "Switch Commads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Evolution - envia msg whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution - envia msg whatsapp": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Commads": {
      "main": [
        [
          {
            "node": "Responder Evolution API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "push message buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Transcribe": {
      "main": [
        [
          {
            "node": "Message audio content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Append": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Content Type": {
      "main": [
        [
          {
            "node": "Get audio base64 EvolutionAPI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message text content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Block AI1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "delete buffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Block AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Block Chat Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "input evolution": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Responder Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "memoria": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "1. identificacao": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "openai": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Divisor de textos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Divisor de textos": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. send_audio_explication": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "3.solicitacao_fotos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "normalizacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "normalizacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalizacao": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-19T14:07:21.246Z",
  "id": "fJ7J5nkAXPVnZp10",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "BRUNO SANTOS WHATS 19/05",
  "nodes": [
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.message.chat_id }}_block",
        "value": "true",
        "keyType": "string"
      },
      "id": "2ef6ba83-7491-404d-a362-8a783daee2bc",
      "name": "Block AI",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1360,
        680
      ],
      "credentials": {
        "redis": {
          "id": "CnAYUverQDl88vKP",
          "name": "redis-peak"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "block",
        "key": "={{ $json.message.chat_id }}_block",
        "options": {}
      },
      "id": "f7bdb7e3-f413-4036-827b-6b65b3bef1ae",
      "name": "Get Block Chat Id",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1360,
        840
      ],
      "credentials": {
        "redis": {
          "id": "CnAYUverQDl88vKP",
          "name": "redis-peak"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('normalizacao').item.json.instance.server_url }}/message/sendText/{{ $('normalizacao').item.json.instance.name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('normalizacao').item.json.instance.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('normalizacao').item.json.message.chat_id }}"
            },
            {
              "name": "text",
              "value": "=🔄🗑️ A conversa foi resetada e todas as informações foram excluídas com sucesso\n"
            }
          ]
        },
        "options": {}
      },
      "id": "602415b7-a449-4b02-9d7e-f30987d40c1d",
      "name": "Responder Evolution API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        620
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "={{ $('normalizacao').item.json.message.chat_id }}_buffer",
        "options": {}
      },
      "id": "38065d71-d26e-4bb9-b489-b792eb65cac4",
      "name": "get messages buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2200,
        860
      ],
      "credentials": {
        "redis": {
          "id": "CnAYUverQDl88vKP",
          "name": "redis-peak"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('normalizacao').item.json.message.chat_id }}_buffer",
        "messageData": "={{ JSON.stringify($('normalizacao').item.json.message) }}",
        "tail": true
      },
      "id": "07364f29-48da-45a5-a15d-9b7bfe1b771e",
      "name": "push message buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1960,
        860
      ],
      "credentials": {
        "redis": {
          "id": "CnAYUverQDl88vKP",
          "name": "redis-peak"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "670a6ac1-ae18-48f8-a028-a7bbd792e4f6",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2600,
        1040
      ],
      "webhookId": "d115bd96-9763-475d-93b7-7857c9d0f0d1"
    },
    {
      "parameters": {},
      "id": "1653ffa1-7835-43cd-854e-ebf5ae2607b0",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2600,
        700
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('normalizacao').item.json.message.chat_id }}_buffer"
      },
      "id": "96eed290-0403-4993-ba0b-d5358d2ebb50",
      "name": "delete buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2600,
        860
      ],
      "credentials": {
        "redis": {
          "id": "CnAYUverQDl88vKP",
          "name": "redis-peak"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db5cfe0a-7f43-4a61-8b27-bfd3a95deb8d",
              "name": "chatInput",
              "value": "={{ $json.messages.join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "62238a0e-d8c0-4076-bb13-748d97ac3906",
      "name": "chatInput",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4840,
        860
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "id": "4af6ceac-1cfd-4111-a280-c340346d255a",
      "name": "Split User messages",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2800,
        860
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.parse($json.messages) }}",
        "options": {}
      },
      "id": "936ed73d-5204-496f-b327-c2a9b608f06f",
      "name": "Parse message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3020,
        860
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('normalizacao').item.json.instance.server_url }}/chat/getBase64FromMediaMessage/{{ $('normalizacao').item.json.instance.name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('normalizacao').item.json.instance.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message.key.id",
              "value": "={{ $json.message_id }}"
            },
            {
              "name": "convertToMp4",
              "value": "={{ Boolean(false) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4314da4e-9600-49ad-9494-5d5b5350bc2d",
      "name": "Get audio base64 EvolutionAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3480,
        680
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "id": "8a50e693-0667-46ef-b6ba-7ddc465d4ac3",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3660,
        680
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "82cccc1e-3c1d-43fd-a4e9-7d2794cb23eb",
              "name": "content",
              "value": "=<audio>\n{{ $json.text }}\n</audio>",
              "type": "string"
            },
            {
              "id": "d96cf6b7-02ea-464f-862d-fa0518848297",
              "name": "message_id",
              "value": "={{ $('Parse message').item.json.message_id }}",
              "type": "string"
            },
            {
              "id": "51aee4e3-5e8c-4f0e-8afc-13ba65e2094c",
              "name": "chat_id",
              "value": "={{ $('Parse message').item.json.chat_id }}",
              "type": "string"
            },
            {
              "id": "f854354f-711f-4809-ade2-8d4f5d17921d",
              "name": "content_type",
              "value": "={{ $('Parse message').item.json.content_type }}",
              "type": "string"
            },
            {
              "id": "4dbd77f8-6346-4eb5-ba45-5e0a88266c05",
              "name": "timestamp",
              "value": "={{ $('Parse message').item.json.timestamp }}",
              "type": "string"
            },
            {
              "id": "1d7de295-bd0f-4640-90da-4580e408c40a",
              "name": "content_url",
              "value": "={{ $('Parse message').item.json.content_url }}",
              "type": "string"
            },
            {
              "id": "8b712f9c-bb3f-48b1-b9af-4109ef1c8858",
              "name": "event",
              "value": "={{ $('Parse message').item.json.event }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "83d5c100-31b9-4f24-904b-583c869c5297",
      "name": "Message audio content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4020,
        680
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content",
              "renameField": true,
              "outputFieldName": "messages"
            }
          ]
        },
        "options": {}
      },
      "id": "505b9b17-6b6d-4154-af76-e2214ea78ffa",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4640,
        860
      ]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "id": "bf61fe0e-75c5-4059-b8ae-7d498aedda3b",
      "name": "Sort",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        4420,
        860
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c3f5615e-1294-4a6a-81f5-59448b8a0d0c",
              "name": "content",
              "value": "=<text>\n{{ $('Parse message').item.json.content }}\n<text>",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "8983a23a-0f4b-4a01-a474-a2adfa567d00",
      "name": "Message text content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3480,
        860
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.block }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IA PODE RESPONDER"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3ef0e01c-cc14-4663-bb4d-2905b350c3ab",
                    "leftValue": "={{ $json.block }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IA NAO PODE RESPONDER"
            }
          ]
        },
        "options": {}
      },
      "id": "3680cabb-68a7-4c3c-91be-47e033a472f4",
      "name": "Switch Block",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1520,
        840
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d35a31ae-efdc-479b-81b3-bac8125d035e",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5620,
        860
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('normalizacao').item.json.instance.server_url }}/message/sendText/{{ $('normalizacao').item.json.instance.name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('normalizacao').item.json.instance.apikey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('normalizacao').item.json.message.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.part }}"
            },
            {
              "name": "delay",
              "value": "={{ 3000 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d3ab8a44-b899-475b-8304-1238089c3ab5",
      "name": "Evolution - envia msg whatsapp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5860,
        860
      ],
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "1a866ab7-098f-45bc-bf8e-a8f641e64812",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6040,
        860
      ],
      "webhookId": "7c1c9566-526c-4e1b-b563-bceadd702787"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('normalizacao').first().json.message.chat_id }}"
      },
      "id": "0caedb88-af55-4f37-b999-0ad5910d4cfd",
      "name": "Limpa dados no REDIS",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2100,
        280
      ],
      "credentials": {
        "redis": {
          "id": "CnAYUverQDl88vKP",
          "name": "redis-peak"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('normalizacao').item.json.message.content }}",
                    "rightValue": "//excluir//",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "restart_command"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "conversation"
        }
      },
      "id": "3328a727-d62e-4bb4-878b-b81ae60623c2",
      "name": "Switch Commads",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1740,
        840
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "c9599483-fec1-4768-ac10-c08741f98021",
      "name": "OpenAI Transcribe",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        3840,
        680
      ],
      "credentials": {
        "openAiApi": {
          "id": "OqiZuzKjXxienn7V",
          "name": "peak-key-gorila"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "69f45436-cc91-41d0-9c0c-ebf7be6454f0",
      "name": "Merge Append",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4220,
        860
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.content_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "a1dfeee8-7927-4419-b091-e5b1930c011e",
                    "leftValue": "={{ $json.content_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7431ffc4-1ee4-4556-8053-d8b2480450b8",
                    "leftValue": "={{ $json.content_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "other"
        }
      },
      "id": "4ff193cd-4c9f-4ea8-a2c7-1d8219ad88a0",
      "name": "Switch Content Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3220,
        840
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.messages.first()).message_id }}",
                    "rightValue": "={{ $('normalizacao').item.json.message.message_id }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nada a fazer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fdd1e894-df1c-4ebd-8f56-82f66dad03be",
                    "leftValue": "={{ JSON.parse($json.messages.last()).timestamp }}",
                    "rightValue": "={{ $now.minus(5, 'seconds') }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "prosseguir"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "esperar"
        }
      },
      "id": "51063078-3d8f-46e9-97f6-44e3bbe3fd7e",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2380,
        860
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.event }}",
                    "rightValue": "outcoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outcoming"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "d7b42536-638f-4128-b51b-6aa913e9d9bc",
                    "leftValue": "={{ $json.message.event }}",
                    "rightValue": "incoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "incoming"
            }
          ]
        },
        "options": {}
      },
      "id": "0a68342f-3d63-4b1f-be2d-d7ece6b456c5",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1160,
        820
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bea6bc34-edd1-45e1-9aa0-618301ed42be",
        "responseMode": "=onReceived",
        "options": {}
      },
      "id": "6b5f4a62-6068-4930-9e7e-084a03079e44",
      "name": "input evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        480,
        820
      ],
      "webhookId": "bea6bc34-edd1-45e1-9aa0-618301ed42be"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('normalizacao').first().json.message.chat_id }}_block"
      },
      "id": "654617be-0b94-4f48-80fd-034e0b2ef892",
      "name": "Limpa dados no REDIS block",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2100,
        440
      ],
      "credentials": {
        "redis": {
          "id": "CnAYUverQDl88vKP",
          "name": "redis-peak"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bc837a22-4931-47ca-8738-3aa5bf9e2cf4",
              "leftValue": "={{ $('normalizacao').item.json.message.content }}",
              "rightValue": "//excluir//",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1660,
        620
      ],
      "id": "5187ca8c-788a-4cf9-b7cf-7d2907ad528a",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('chatInput').item.json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=\n<agente>\n  <objetivo>\n    Realizar atendimento automatizado em tom motivador, fraterno e um pouco carismatico guiando novos interessados na consultoria de fisiculturismo do atleta Bruno Santos.\n  </objetivo>\n\n  <persona>\n    <nome>Bruno Santos</nome>\n    <profissao>Fisiculturista profissional (categoria Open)</profissao>\n    <tom>Fraterno, motivador, direto, com leve humor</tom>\n    \n    <regras_de_comunicacao>\n      <valores_centrais>\n        Inspirar disciplina, força e pertencimento ao BSPROTEAM.\n      </valores_centrais>\n\n      <identidade>\n        A persona deve sempre se referir a si mesma como \"Bruno Santos\".\n        Utilizar uma linguagem motivacional, firme, direta e com leve humor.\n      </identidade>\n\n      <tratamento_ao_usuario>\n        Após o usuário informar seu nome, determinar automaticamente o gênero com base no nome.\n\n        Se o nome for de gênero masculino:\n          - Trate o usuário como \"bichão\".\n          - Exemplo: \"Fala João, chega junto que eu vou te explicar AGORA como funciona minha consultoria, fechou bichão?\"\n\n        Se o nome for de gênero feminino:\n          - Trate o usuário como \"minha amiga\".\n          - Exemplo: \"Fala minha amiga, chega junto que eu vou te explicar AGORA como funciona minha consultoria, e te transformo numa máquina, fechou?\"\n\n        Se o nome não for claramente identificável (gênero ambíguo ou nome incomum):\n          - Trate o usuário como \"atleta\" de forma unissex.\n          - Exemplo: \"Fala atleta, chega junto que eu vou te mostrar AGORA mesmo como funciona minha consultoria, fechou?\"\n\n        Regras adicionais:\n          - Nunca use o nome e o termo (bichão, minha amiga ou atleta) juntos. Apenas um por vez.\n          - Use o nome somente se o gênero for claramente masculino.\n          - Sempre inicie com a mensagem de saudação: Seja bem-vindo ao BSPRO TEAM. Pode me informar seu nome e sua idade, por favor?\n\n        <regra>\n          Sempre que o usuário fornecer um nome composto (ex: \"Pedro Henrique\", \"Ana Clara\", \"João Paulo\"), utilize apenas o primeiro nome para todas as mensagens personalizadas e interações.\n\n          Exemplo:\n          Entrada: \"Pedro Henrique\"\n          Uso: \"Pedro\"\n        </regra>\n      </tratamento_ao_usuario>\n    </regras_de_comunicacao>\n  </persona>\n\n  <etapas>\n  <regra>\n  A seguinte frase nunca deve ser enviada ao usuário em nenhuma etapa ou situação:\n\n  \"Você vai mandar só essas ou tem mais fotos?\"\n</regra>\n    <regra>Seja conciso; envie apenas a mensagem da etapa.</regra>\n    <regra>Avance de fase apenas quando a condição de avanço for atendida.</regra>\n    <regra>Siga as etapas em ordem cronológica.</regra>\n    <regra>Se o usuário já passou da <etapa2>, não diga que irá explicar a consultoria novamente. Se ele perguntar sobre preço, solicite as fotos.</regra>\n    <regra>Se o usuário estiver na <etapa3>, jamais ative a tool \"send_audio_explication\".</regra>\n    <regra>Sempre que solicitar as fotos, ative a tool \"solicitacao_fotos\".</regra>\n    <regra>Mande a frase \"faz sentido para você bichão, é isso que você está buscando??\" após o envio da tool \"send_audio_explication\".</regra>\n  </etapas>\n\n  <interacoes_fotos>\n      <regra>Se for uma mensagem do lead dizendo que vai pegar fotos ou algo do tipo, apenas faça uma conclusão normal, sem cobrança.</regra>\n  </interacoes_fotos>\n\n  <etapa2>\n    <regra>\n<regra>\n  Após a ativação da tool {\"tool\":\"send_audio_explication\"}, finalize com a seguinte mensagem personalizada:\n\n  Se o usuário for do sexo masculino:  \n  “[name], faz sentido para você bichão, é isso que você está buscando???”\n\n  Se o usuário for do sexo feminino:  \n  “[name], minha amiga ce entendeu o que eu expliquei??\"\n</regra>\n    </regra>\n  </etapa2>\n\n  <respostas_valores>\n    <regra>\n      Se estiver na etapa 1 e o usuário perguntar sobre valor, diga:\n      “Fala, antes de passar o valor, eu vou te explicar AGORA como minha consultoria funciona. E depois vou fazer uma avaliação bem rápida do seu shape, fechou, bichão?”\n    </regra>\n    <regra>\n      Se estiver na etapa 2 e o usuário perguntar sobre valor, diga:\n      “Show de bola campeão, pra gente continuar me envia 3 fotos do seu físico atual.”\n    </regra>\n  </respostas_valores>\n\n  <tools>\n    <regra>Caso o usuário peça explicação da consultoria e ainda não esteja na etapa 2, ative imediatamente a tool \"send_audio_explication\".</regra>\n    <regra>Seguindo a regra anterior, apenas envie o áudio, sem avançar de fase.</regra>\n    <regra>Nunca ative a mesma tool mais de uma vez.</regra>\n    <regra>JAMAIS envie essa mensagem para o usuário: &lt;positivo&gt;{\"tool\":\"send_audio_explication\"}&lt;/positivo&gt;; apenas ative a ferramenta de forma direta.</regra>\n  </tools>\n\n  <dados_usuario>\n    <regra>Se na etapa 1 o usuário mandar nome e um número (sem dizer “anos”), considere esse número como idade.</regra>\n  </dados_usuario>\n\n  <pos_etapa2>\n    <regra>Se o usuário já passou da etapa 2 e perguntar sobre preço, apenas solicite as fotos — não diga que irá explicar a consultoria.</regra>\n  </pos_etapa2>\n\n  <fluxo_atendimento>\n\n    <fase numero=\"1\" nome=\"Saudação e Coleta de Dados\">\n      <mensagem>\n        Seja bem-vindo ao BSPRO TEAM. Pode me informar seu nome e sua idade, por favor?\n      </mensagem>\n <instrucoes>\n    Após receber o nome, identifique o gênero (masculino, feminino ou indefinido) com base no nome fornecido. Essa informação será usada para personalizar as mensagens nas próximas fases.\n  </instrucoes>\n      <condicao_avanco>Nome e idade fornecidos</condicao_avanco>\n      <acao>{\"tool\":\"identification\"}</acao>\n    </fase>\n\n    <fase numero=\"2\" nome=\"Permissão para Envio de Áudio Explicativo\">\n      <mensagem>\n        <if genero=\"masculino\">\n          Fala (name), chega junto que eu vou te explicar AGORA como funciona minha consultoria, fechou bichão?\n        </if>\n        <if genero=\"feminino\">\n          Fala minha amiga, chega junto que eu vou te explicar AGORA como funciona minha consultoria, e te transformo numa máquina, fechou?\n        </if>\n        <if genero=\"indefinido\">\n          Fala atleta, chega junto que eu vou te mostrar AGORA mesmo como funciona minha consultoria, fechou?\n        </if>\n      </mensagem>\n      <condicao_avanco>Resposta contém aceitação (“sim”, “ok”, “pode”)</condicao_avanco>\n      <acao>Ative a {\"tool\":\"send_audio_explication\"}</acao>\n    </fase>\n\n    <fase numero=\"3\" nome=\"Explicação e Permissão para Avaliação Física\">\n      <mensagem>\n        Show de bola campeão, pra gente continuar me envia 3 fotos do seu físico atual.\n      </mensagem>\n      <condicao_avanco>Pelo menos 1 foto válida recebida</condicao_avanco>\n      <acao>{\"tool\":\"photo_collection\"}</acao>\n    </fase>\n  </fluxo_atendimento>\n\n  <funcoes>\n    <funcao>is_positive(user_message): retorna verdadeiro se a mensagem contiver intenções afirmativas (“sim”, “pode”, “claro” etc.)</funcao>\n    <funcao>missing_fields(form_data): lista os campos da tabela que ainda estão vazios</funcao>\n    <nota>Armazene os dados em memória da conversa: <em>name</em>, <em>age</em>, <em>form_data</em>, <em>photos</em></nota>\n  </funcoes>\n</agente>",
          "returnIntermediateSteps": true,
          "passthroughBinaryImages": true
        }
      },
      "id": "dc3d4d5f-207e-4465-9c95-f10444c0d696",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        5040,
        860
      ],
      "retryOnFail": false,
      "waitBetweenTries": 100,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('normalizacao').item.json.message.chat_id }}",
        "contextWindowLength": 80
      },
      "id": "a0f75739-9774-440c-9756-ca2799ce4ae2",
      "name": "memoria",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        4580,
        1080
      ],
      "credentials": {
        "redis": {
          "id": "CnAYUverQDl88vKP",
          "name": "redis-peak"
        }
      }
    },
    {
      "parameters": {
        "name": "identificacao_usuario",
        "description": "Utilize essa tool para registrar nome e idade do usuario, e definir o genero pelo nome.",
        "workflowId": {
          "__rl": true,
          "value": "jZ11MGGoKcW4cIgB",
          "mode": "list",
          "cachedResultName": "1. Identificação"
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"name\": \"Username\",\n  \"age\": 10,\n  \"gender\": \"Feminino\"\n   \n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        4960,
        1140
      ],
      "id": "0bbb5dec-56bd-4435-bb95-d22b870a7d05",
      "name": "1. identificacao"
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "4ba4c3e5-73c8-4900-ac18-06e58fa3a0f0",
      "name": "openai",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        4680,
        1080
      ],
      "credentials": {
        "openAiApi": {
          "id": "OqiZuzKjXxienn7V",
          "name": "peak-key-gorila"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Assume que 'output' é a variável que contém o texto recebido pelo nó anterior.\nconst textInput = $input.first().json.output || \"\"; \n\n// Substitui todos os '**' por '*' no texto\nconst formattedText = textInput.replace(/\\*\\*/g, '*');\n\n// Função para verificar se uma string é numérica\nfunction isNumeric(str) {\n  return !isNaN(str) && !isNaN(parseFloat(str));\n}\n\n// Lista de abreviações comuns\nlet abbreviations = [\"dr.\", \"sr.\", \"sra.\", \"ex.\", \"etc.\", \"mr.\", \"mrs.\", \"ms.\", \"prof.\", \"p.e.\", \"i.e.\", \"vs.\"];\n\n// Tenta decodificar o texto, tratando possíveis erros de decodificação\nlet str = \"\";\ntry {\n  str = decodeURIComponent(formattedText).replace(/\"/g, \"'\");\n} catch (e) {\n  console.error(\"Erro na decodificação do texto:\", e.message);\n  str = formattedText;\n}\n\n// Encontra os índices para divisão do texto com base em pontuações e outras regras\nlet splitIndices = [];\nfor (let i = 0; i < str.length; i++) {\n  if (['.', '!', '?', ';'].includes(str[i])) {\n    // Ignora pontos duplos\n    if (i < str.length - 1 && str[i] === str[i + 1]) continue;\n    // Ignora pontos em números (ex: 3.14)\n    if (i > 0 && i < str.length - 1 && isNumeric(str[i - 1]) && isNumeric(str[i + 1])) continue;\n    // Ignora abreviações\n    let isAbbreviation = abbreviations.some(abbr =>\n      str.slice(i - abbr.length + 1, i + 1).toLowerCase() === abbr\n    );\n    if (isAbbreviation) continue;\n    // Exige espaço após a pontuação\n    if (i < str.length - 1 && ![' ', '\\n'].includes(str[i + 1])) continue;\n    splitIndices.push(i);\n  }\n}\n\n// Divide o texto nos índices identificados\nlet strArray = [];\nlet lastIdx = 0;\nsplitIndices.forEach(idx => {\n  const part = str.slice(lastIdx, idx + 1).trim();\n  if (part) strArray.push({ part });\n  lastIdx = idx + 1;\n});\n// Adiciona a última parte\nconst lastPart = str.slice(lastIdx).trim();\nif (lastPart) strArray.push({ part: lastPart });\n\n// Retorna no formato esperado pelo n8n\nreturn strArray.map(item => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5400,
        860
      ],
      "id": "3251e214-49b6-4a92-b2ab-07ed30c2c21a",
      "name": "Divisor de textos"
    },
    {
      "parameters": {
        "name": "send_audio_explication",
        "description": "Utilize essa tool após a confirmação positiva na etapa 2",
        "workflowId": {
          "__rl": true,
          "value": "N3S8pEhsKdpqv8Tm",
          "mode": "list",
          "cachedResultName": "2.send_audio_explication_Bruno_santos"
        },
        "fields": {
          "values": [
            {
              "name": "remojid",
              "stringValue": "={{ $('normalizacao').item.json.message.chat_id }}"
            },
            {
              "name": "api",
              "stringValue": "={{ $('normalizacao').item.json.instance.apikey }}"
            },
            {
              "name": "url",
              "stringValue": "={{ $('normalizacao').item.json.instance.server_url }}"
            },
            {
              "name": "instance",
              "stringValue": "={{ $('normalizacao').item.json.instance.name }}"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        5120,
        1120
      ],
      "id": "e6627cd1-41f5-48e3-8662-588d6fa74c64",
      "name": "2. send_audio_explication"
    },
    {
      "parameters": {
        "name": "solicitacao_fotos",
        "description": "Utilize essa tool dentro da etapa 3, para registarar a etapa do lead ",
        "workflowId": {
          "__rl": true,
          "value": "UEUv6n1RIWvD9ZGb",
          "mode": "list",
          "cachedResultName": "solicitacao_fotos"
        },
        "fields": {
          "values": [
            {
              "name": "remojid",
              "stringValue": "={{ $('normalizacao').item.json.message.chat_id }}"
            },
            {
              "name": "api",
              "stringValue": "={{ $('normalizacao').item.json.instance.apikey }}"
            },
            {
              "name": "url",
              "stringValue": "={{ $('normalizacao').item.json.instance.server_url }}"
            },
            {
              "name": "instance",
              "stringValue": "={{ $('normalizacao').item.json.instance.name }}"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        5300,
        1140
      ],
      "id": "0a96816f-c6f0-466e-ad9a-9b6329fb7daf",
      "name": "3.solicitacao_fotos"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('normalizacao').first().json.message.chat_id }}_block_audio"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2100,
        620
      ],
      "id": "8324c823-bc47-47db-bad6-2f29620d4349",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "CnAYUverQDl88vKP",
          "name": "redis-peak"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.chat_id }}_block",
        "value": "true",
        "keyType": "string"
      },
      "id": "bfe6af17-a32e-4fc3-975d-5bcea8f4e3ec",
      "name": "Block AI1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3480,
        1060
      ],
      "credentials": {
        "redis": {
          "id": "CnAYUverQDl88vKP",
          "name": "redis-peak"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "52c7dbf0-a714-41f9-a13d-ee2798411b24",
              "leftValue": "={{ $json.body.data.contextInfo.conversionSource }}",
              "rightValue": "FB_Ads",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        820
      ],
      "id": "7ce359b5-5709-4b26-8880-57a2ebca46c8",
      "name": "If2"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "anuncio_brunosantos",
          "mode": "list",
          "cachedResultName": "anuncio_brunosantos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $json.telefone }}",
            "id_anuncio": "={{ $json.facebookAdId }}",
            "name": "={{ $json.body.data.pushName }}",
            "plataform": "={{ $json.body.data.contextInfo.entryPointConversionApp }}",
            "dia": "={{ $now.format('yyyy-MM-dd') }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_anuncio",
              "displayName": "id_anuncio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "plataform",
              "displayName": "plataform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dia",
              "displayName": "dia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        720,
        520
      ],
      "id": "237b452c-76df-4bfe-b845-d0c24a9b7c9f",
      "name": "Postgres1",
      "credentials": {
        "postgres": {
          "id": "8ofCwrRA0lvWfODI",
          "name": "Supabase|Peak"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Mapeia todos os items de entrada, extrai o telefone e o Facebook Ad ID,\n// e devolve cada item com campos adicionais `telefone` e `facebookAdId`.\nreturn $input.all().map(item => {\n  // Extrai e limpa o telefone\n  const jid = item.json.body.data.key.remoteJid || '';\n  const telefone = jid.split('@')[0].replace(/\\D+/g, '');\n  \n  // Extrai o ID do anúncio do Facebook\n  const external = item.json.body.data.contextInfo.externalAdReply || {};\n  const facebookAdId = external.sourceId || null;\n  \n  return {\n    json: {\n      ...item.json,\n      telefone,\n      facebookAdId,\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        680
      ],
      "id": "e76706d8-d9ec-4371-9f00-215d880647fb",
      "name": "Code1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f16b1bf-1a3e-4029-8d7a-1bccb919ee43",
              "name": "message.message_id",
              "value": "={{ $('input evolution').item.json.body.data.key.id || '' }}",
              "type": "string"
            },
            {
              "id": "11800d83-ecca-4f9c-a878-a2419db0c8e9",
              "name": "message.chat_id",
              "value": "={{ $('input evolution').item.json.body.data.key.remoteJid || '' }}",
              "type": "string"
            },
            {
              "id": "c33f9527-e661-49e5-8e5e-64f3b430928a",
              "name": "message.content_type",
              "value": "={{ $('input evolution').item.json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $('input evolution').item.json.body.data.message.conversation ? 'text' : '' }}{{ $('input evolution').item.json.body.data.message.audioMessage ? 'audio' : '' }}{{ $('input evolution').item.json.body.data.message.imageMessage ? 'image' : '' }}",
              "type": "string"
            },
            {
              "id": "06eba1c9-cff0-4f68-b6da-6bb0092466b7",
              "name": "message.content",
              "value": "={{ $('input evolution').item.json.body.data.message.extendedTextMessage?.text || '' }}{{ $('input evolution').item.json.body.data.message.imageMessage?.caption || '' }}{{ $('input evolution').item.json.body.data.message.conversation || '' }}",
              "type": "string"
            },
            {
              "id": "b97f1af3-5361-46fc-9303-d644921231d8",
              "name": "message.timestamp",
              "value": "={{ $('input evolution').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}",
              "type": "string"
            },
            {
              "id": "dc3dc59c-90a3-4a45-bea2-de092c91083b",
              "name": "message.content_url",
              "value": "={{ $('input evolution').item.json.body.data.message.audioMessage?.url || '' }}{{ $('input evolution').item.json.body.data.message.imageMessage?.url || '' }}",
              "type": "string"
            },
            {
              "id": "8b01a818-a456-476e-bace-adefe2f04eb4",
              "name": "message.event",
              "value": "={{ $('input evolution').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}",
              "type": "string"
            },
            {
              "id": "b2f1f6b5-292f-4695-9e41-be200c6d7053",
              "name": "instance.name",
              "value": "={{ $('input evolution').item.json.body.instance }}",
              "type": "string"
            },
            {
              "id": "572fcce5-8a26-4e8f-a48a-ef0bee569dcd",
              "name": "instance.apikey",
              "value": "={{ $('input evolution').item.json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "e90043db-657b-461c-b040-2d6089abfbdb",
              "name": "instance.server_url",
              "value": "={{ $('input evolution').item.json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "dd1bc352-1a27-4f9a-af3d-61ff6af74d0d",
              "name": "user.telefone",
              "value": "={{ $('input evolution').item.json.body.data.key.remoteJid.replace(/\\D/g, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5053e1ba-d380-4d08-84d7-e1b1bf2d9194",
      "name": "normalizacao",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        980,
        820
      ]
    }
  ],
  "pinData": {
    "input evolution": [
      {
        "json": {
          "headers": {
            "host": "webhook.peak.botfai.com.br",
            "user-agent": "axios/1.7.5",
            "content-length": "5573",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "5.161.61.123",
            "x-forwarded-host": "webhook.peak.botfai.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik_traefik.1",
            "x-real-ip": "5.161.61.123"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "Tenente_8971",
            "data": {
              "key": {
                "remoteJid": "5515996144545@s.whatsapp.net",
                "fromMe": false,
                "id": "630644F43A8C387D66C3D8DD39B6B8DE"
              },
              "pushName": "🇯🇵😎🇧🇷",
              "message": {
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "recipientKeyHash": "0CKJyflkqrbB9A==",
                    "recipientTimestamp": "1748025931"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "Wu6NGqU74keW9JwfFwfKmpPHsIw3q1hBPPlgk62xUVg="
                },
                "conversation": "Olá! Tenho interesse e queria mais informações, por favor."
              },
              "contextInfo": {
                "conversionSource": "FB_Ads",
                "conversionData": "QWZkWUpuOWVhdktWWTRhU0o1LTY0ZDFkQ05ZZXhwLUVrSlFxUGwwRHNhVzg4ZkxvTmd2a29MX0ZuVzE2QXh5cTI5Z1VpU19lMF9IS1ZRb3p5Z3pjT0pQb09zX1NPWTRPYWFCb0tTSGNMb2xTVGFjMkQ3ZnpwSDdFUEgzZjBjei05cFlGTXN5ZnVkVml1Snd2QXp2cDJqZDEtZ0hoYTFnTmdpak45VVhRcjZ4ZWp0ZkVwNnR6WnVIbWZhWG5NNm1KVTdxOFduTjR2bjlVNXdCbHU2Q2t0WEFoZGdaX1doWlM0ei10MzFNcEhpMFJ2M3dpY3QwVVFiZHJ5cTJRNFhyWEYwVHBJaWNsZmJUbkFDV3pLeXp5bHl0TnNBOG9oV1NjSFhrcWowY3J1VTZ4d3Q5ZFVaNVU4YXZUVzBLbU82OWdUX1lCMVBobWYzTi02WlEzMmMtU3ZKZHlwQmxZQnJTbTNpaDRKNko3QmlHa09YTjExbWRsTThkbmR3",
                "conversionDelaySeconds": 11,
                "externalAdReply": {
                  "title": "Converse conosco",
                  "body": "Para você que está insatisfeito com seus resultados atuais e busca uma transformação completa: física e mental.\n\nMais que um aluno, você será um soldado em treinamento, comprometido com resultados reais.\n\nClick agora para saber mais",
                  "mediaType": "VIDEO",
                  "thumbnailUrl": "https://scontent.xx.fbcdn.net/v/t15.5256-10/499476414_1447510592911821_2554439861869128119_n.jpg?stp=dst-jpg_p180x540_tt6&_nc_cat=107&ccb=1-7&_nc_sid=40cf1a&_nc_ohc=UVjoGxpvAz0Q7kNvwFHj5-J&_nc_oc=AdnGFNZx63cllOa0wI65YxFaUXZHgB8MeYyNTqdHngpOov0Gf6Xa-5ybdHHPFfsRqfQEgeNCp_ez1y9O7ymFISgK&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.xx&_nc_gid=osrToKnnh8K8RYuKF-AFhQ&oh=00_AfLGa1MVk9Utyz7I7m3rRhKsEjhb25BWge3l71mO_xQn4g&oe=68393AFA",
                  "mediaUrl": "https://www.facebook.com/100054085996412/videos/1214082630183888/",
                  "thumbnail": "/9j/4AAQSkZJRgABAQAAAQABAAD/7QCEUGhvdG9zaG9wIDMuMAA4QklNBAQAAAAAAGgcAigAYkZCTUQwYTAwMGE4NTAxMDAwMDBjMDIwMDAwY2UwMjAwMDAxZTAzMDAwMDVkMDMwMDAwMDkwNDAwMDA3YjA1MDAwMDliMDUwMDAwZjkwNTAwMDAyNTA2MDAwMGJhMDcwMDAwAP/bAIQABQYGCwgLCwsLCw0LCwsNDg4NDQ4ODw0ODg4NDxAQEBEREBAQEA8TEhMPEBETFBQTERMWFhYTFhUVFhkWGRYWEgEFBQUKBwoICQkICwgKCAsKCgkJCgoMCQoJCgkMDQsKCwsKCw0MCwsICwsMDAwNDQwMDQoLCg0MDQ0MExQTExOc/8IAEQgAWQAyAwEiAAIRAQMRAf/EAFAAAAEFAQEAAAAAAAAAAAAAAAQAAgMFBgEHEAABAwIDBAgFAwQDAAAAAAABABEhAjEDQVEQYXGBBBITIJGhsfAiMsHR4QVC8RQVM0BScrL/2gAMAwEAAgADAAAAARwL/rexaPP16bb2AO8lirMNdUq5akVZsb6MtCDnnnUcRYFsHWWfeXkvaAUijLpfQWFZozM+nywYc8sSSFZfTedwEw6fDKeHR7TyjUxv3DI5Bi6tuF7OLrbLMX3JafSYJrot5YeW+pcd5YO+CcbiSSdLC9Kb1byb1lL/2gAIAQEAAQUC6QEWWAPhpHw4YXaVuypqLCkLFxqMGjC/VFhplXi4jjo67ArpeGaaqcQmnB+EdoUcepU10oYmGukVUlYD0k4jrrLrIUowqOlHpCwMICpx23ZBHDCJZdPxurhfpZDgBY+J1elGsVI4Ic4hxF0unrIfBV/U1LsaFTXVVUesjUaR0nEFZ29DxOou2WF0kFYmBhYqH6fQsX9OoqX9unD6Ph4SONsqqC6P0xienU0qvH61QxCSQXVXcHfGz//aAAgBAwABPwEEf8m4/h1UH37+50f5VWJLaplh4TjrG3qsCn4Quw63WaGJXZVaLEHVpAXX0+HWTKwamPHZ27wQ6pNBFgqcSmn9vBf1G7u//9oACAECAAE/AZH7XbT8suTbXWIZVNhsNcsFimSu16vVfMLtBqsOSSuq95WLS44bOxaxZEVaqqiqr9y7Df3f/9oACAEBAAY/AsP/AK/XZVx+myE2Z1Cy8EykOrflNVR1Rqou8IP8zIxmVdX8lQ/xM8IPhuDBF1wTufFfMUetd96+b/0gRU55omPqvnbwX+QeS+ceW2oWpGw4Tbx4OyMWVkFVv+HxVYOYHlscZVU/lMdlNQGSAOJSFFdjBX+WgXltE/bDrO7osXEemyyf23eut+4r5j5KB1d4t4JjiBRJ1Pc+J1rzddbNXP8Aof/aAAgBAQABPyELWcu8s4NyTxCMuiBbAtoE6Axy5aJumOFMH7DxREQQRG4mCBDZh1LZcjIwBIgFyWQCGWPszdn1geSEltRDV4THJjPsdkP5Y3ozCdtAhxvoRxAA6wZxkpQScg4hjdA2A4cWuGDxvsi4JAsXR4ognU1H2Q5cuXFrBrQtGHMFBcQQ5Fjx3oGGL3IJ+r6BAIkXbPkzlF7iBTIoRicgmCSSwEnkoeDBhcy9ynURIQKwOXIWz/gLQXIAwLl/snRjfQJtqYKHGWh6vJ1qqA5i/qnotZBHlQ+AHqQhtwnq9zn+EOYAQHLVORaDY74eHQyDBifXgrU5nOuHMIdnNxCMhH1CYe13dMBTAQbuBUhhOkEQBxV1Hdhpyav3C3524ouOfgUKDpNW1MeUoshr8gu+icw7aPvHoyDGJwEng5Ql3c45aILm90CgiGBDaFinIEw2JMg8ZQt3dxFyy8k6NIyF5AQp6ifL3Owp7p9h7z//2gAMAwEAAgADAAAAECDygcM1QpPZCMEYye3MyPsgov/aAAgBAwABPxAjI5rDBHAjyDbIOxL72KzLvnbXLlsZBkOr7kCc4c0NsOhGBy2bPQIDnH1TDfdCybJb+pYyAbVRYDZZI1kweDKM9jsgZqURPd7hPDOku3ZXzT/5d3//2gAIAQIAAT8Q37eAgFxvLG/kntscs4i8DZEvHyTAlyQ2a3O4EJHSFN3fQf/aAAgBAQABPxB9wcQjlIkHRl+UUJb8Zk9h7yTYyWBIFaEBEGGuMn1kKmCBNwhWS4AAbOBR1xNAG4ME+tlCCZG66eosBbyCJi4l7PQsWYoB/aZ0Ew1tbmzzUIts/JM95cwhZtXzfkpwjJ3ZuWeUqewgdEgT5EAdyM0HuwG+aCjkJi8VQaP6pBpIL3FzTE5P4lUepFbxHDnf+BB8yCfosPKuQgphqen3plgh9gIC3CMmQOfJb2bYrmE30ATMJI4k+idlZ5hknHFC6DYRLwQb7JIhIdygwVog/YtKR2JAtfsBEaTmVjtIYYAWvDMHIhRWEHOjHDjmu9eC1N9viVg9VzfUOX3E46yZBEF7w4jRwjUlun981DRYEdMc0HGChECDkCxvFGDb4tFzIdOnV1wY9nBDIWmT7mQ0BAF/sjFxJIU95M8kS2LGX8TcycTEDqfEyfeh/wBNzh3AWzhb3U/iORcfXqrCzXRdOLJ9NfVhugp3oUd8k9TB7Oi3yeADeCzUyIO+h/VmqBThIoBBGiWy88e5civ/2Q==",
                  "sourceType": "ad",
                  "sourceId": "120225776674820556",
                  "sourceUrl": "https://www.instagram.com/p/DJ-cJ8JMT10/",
                  "containsAutoReply": false,
                  "renderLargerThumbnail": true,
                  "showAdAttribution": true,
                  "ctwaClid": "AfcQzWQZgZVtb3z9Y9arwzuRvJkIZwJpLMBvimoVXOCqwO5vqttB_VuPrfR46R860Q0G_Nsyi7h3R55zSWLESOFq0B7GLbIdflc72FzsIK-MsFkn-4jcIYzQTltFYFVNaaneU-Y52g"
                },
                "entryPointConversionSource": "ctwa_ad",
                "entryPointConversionApp": "instagram",
                "entryPointConversionDelaySeconds": 8,
                "trustBannerAction": 4294967295
              },
              "messageType": "extendedTextMessage",
              "messageTimestamp": 1748195759,
              "instanceId": "17296f2a-0eb5-4738-a4ea-417bcfb2bf28",
              "source": "android",
              "chatwootMessageId": 4809496,
              "chatwootInboxId": 105,
              "chatwootConversationId": 39834
            },
            "destination": "https://webhook.peak.botfai.com.br/webhook/41174176-32fe-498a-8ee3-c54dba65069b1",
            "date_time": "2025-05-25T14:56:04.349Z",
            "sender": "5511933778971@s.whatsapp.net",
            "server_url": "https://wsapi.peak.botfai.com.br",
            "apikey": "01C1F0B0CE6B-4540-8574-94C9BA963DF2"
          },
          "webhookUrl": "https://webhook.peak.botfai.com.br/webhook/41174176-32fe-498a-8ee3-c54dba65069b1",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-06-15T20:06:51.575Z",
  "versionId": "745e2c51-fa9c-48eb-a138-987b78422db2"
}