workflows/j96Pj4xvGSO5a7T7.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        []
      ]
    },
    "Envia Audio": {
      "main": [
        [
          {
            "node": "insrir infos do audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insrir infos do audio": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normaliza dados recebidos": {
      "main": [
        [
          {
            "node": "Envia Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "normaliza dados recebidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-21T13:07:06.908Z",
  "id": "j96Pj4xvGSO5a7T7",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "_____7__ZEPHYR__ETAPA_3____Envio_de_audio",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "42d647cc-cb4f-41dc-a1e3-f98fbc7542e5",
        "responseMode": "lastNode",
        "responseData": "noData",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        100
      ],
      "id": "f45b7f99-0753-4bc2-be24-5df8fff87bf5",
      "name": "Webhook",
      "webhookId": "42d647cc-cb4f-41dc-a1e3-f98fbc7542e5",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json['url-evolution'] }}/message/sendWhatsAppAudio/{{ $json.instancia }} ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json['apikey-evolution'] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.user.telefone.toString() }}"
            },
            {
              "name": "audio",
              "value": "https://meu-balde-voise.s3.us-east-005.backblazeb2.com/AUDIO+CONSULTORIA+GORILA.mpeg"
            },
            {
              "name": "delay",
              "value": "={{ 10000 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7c570e30-a4dd-4314-adf7-b4a23a700ad8",
      "name": "Envia Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        -100
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('normaliza dados recebidos').item.json.redis.sessionID }}",
        "messageData": "={\"type\":\"ai\",\"data\":{\"content\":\"<audio>Então, vamos lá, só para você entender, tá bom? Eu trabalho de maneira individualizada. Creio que se você me conhece, sabe que eu prezo muito pela qualidade de vida e a longevidade minha e também eu passo isso para os meus alunos. E outro motivo também, eu trabalho de forma completamente individualizada, no quesito de respeitar a individualidade biológica de cada aluno, beleza? Então eu vou tomar conta da sua dieta, do seu treino, qualquer dúvida que você tiver, você fala comigo.<audio>\",\"tool_calls\":[],\"invalid_tool_calls\":[],\"additional_kwargs\":{},\"response_metadata\":{}}}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        720,
        -100
      ],
      "id": "84fc2606-d315-4547-8ce1-d12d7ef9336a",
      "name": "insrir infos do audio",
      "credentials": {
        "redis": {
          "id": "CnAYUverQDl88vKP",
          "name": "redis-peak"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f4e5fbb-e51c-458e-97a2-d148727e139e",
              "name": "redis.sessionID",
              "value": "={{ $json.session_id }}",
              "type": "string"
            },
            {
              "id": "62930169-eb6c-4235-b3ad-02ac7174eb18",
              "name": "user.telefone",
              "value": "={{ $json.numero_somente }}",
              "type": "number"
            },
            {
              "id": "8d73caea-b65c-4689-8442-acc32b06f1e9",
              "name": "url-evolution",
              "value": "https://wsapi.peak.botfai.com.br",
              "type": "string"
            },
            {
              "id": "9ca84870-ae28-4083-aa07-3a1aac249c3f",
              "name": "apikey-evolution",
              "value": "l6v7CBnNIRo041fLlwlvmAXCcPlc",
              "type": "string"
            },
            {
              "id": "c81cabe6-4750-4c55-bef1-5156654564f0",
              "name": "instancia",
              "value": "Gorila_4157",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        -100
      ],
      "id": "3f68d191-ade6-4b0b-acf4-42b40368585f",
      "name": "normaliza dados recebidos"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "etapa_ia",
          "mode": "list",
          "cachedResultName": "etapa_ia"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('normaliza dados recebidos').item.json.user.telefone }}",
            "etapa_ia": "etapa 3"
          },
          "matchingColumns": [
            "telefone"
          ],
          "schema": [
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "idade",
              "displayName": "idade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "objetivo",
              "displayName": "objetivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "ia_atendimento",
              "displayName": "ia_atendimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "etapa_ia",
              "displayName": "etapa_ia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "tipo_de_fisico",
              "displayName": "tipo_de_fisico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "ultima_msg",
              "displayName": "ultima_msg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "foco",
              "displayName": "foco",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        980,
        -100
      ],
      "id": "a9bcc343-30d5-4307-b092-69b86ed897f7",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "z48vC1g73VYWAujH",
          "name": "base_atendimento [peak]"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -140,
        -100
      ],
      "id": "bed0be9f-eff9-4772-9db5-09b6ffa65185",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// Obtém todos os items de entrada\nconst items = $input.all();\n\n// Processa cada item para extrair só o número antes do \"@\"\nconst output = items.map(item => {\n  const sessionId = item.json.session_id;           // ex: \"5517992749450@s.whatsapp.net\"\n  const numero = sessionId.split('@')[0];           // pega tudo antes do \"@\"\n  \n  return {\n    json: {\n      ...item.json,\n      numero_somente: numero                        // adiciona o campo com o número puro\n    }\n  };\n});\n\n// Retorna o array de items com o novo campo \"numero_somente\"\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        60,
        -100
      ],
      "id": "1b41476e-666b-4f64-9e2f-ac7c11c79922",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a5568be0-a69a-49d0-9132-126ae02c5d60",
              "name": " system: você é estritamente proibido de ativar a tool novamente a  \"etapa_3_audio_envio\"",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        -100
      ],
      "id": "b86e7181-8fa3-4892-95d7-1f1fd774282d",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.botfai.com.br",
            "user-agent": "node-fetch/1.0 (+https://github.com/bitinn/node-fetch)",
            "content-length": "43",
            "accept": "*/*",
            "accept-encoding": "gzip,deflate",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "webhook.botfai.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "45272b4d5a84",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "sessionId": "554799830536@s.whatsapp.net"
          },
          "webhookUrl": "https://webhook.botfai.com.br/webhook/42d647cc-cb4f-41dc-a1e3-f98fbc7542e5",
          "executionMode": "production"
        }
      }
    ],
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": {
            "Etapa_do_fluxo": "3"
          },
          "session_id": "5517992749450@s.whatsapp.net"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-26T15:15:25.403Z",
  "versionId": "5c5911d8-05a1-4c61-a9bc-d494482ddfb7"
}