workflows/N3S8pEhsKdpqv8Tm.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Block Chat Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "busca audio para concatenar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca audio para concatenar1": {
      "main": [
        [
          {
            "node": "Formata o Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encaminha Audio": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata o Audio": {
      "main": [
        [
          {
            "node": "Encaminha Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Block Chat Id": {
      "main": [
        [
          {
            "node": "Switch Block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Block": {
      "main": [
        [
          {
            "node": "Block AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-28T00:21:55.595Z",
  "id": "N3S8pEhsKdpqv8Tm",
  "meta": null,
  "name": "2.send_audio_explication_Bruno_santos",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1040,
        280
      ]
    },
    {
      "parameters": {},
      "id": "b5942df6-0160-4ef7-965d-57583acdc8aa",
      "name": "Replace me with your logic",
      "type": "n8n-nodes-base.noOp",
      "position": [
        80,
        580
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d45799e-e7fc-42c4-91b6-a437ca9515be",
              "name": "content",
              "value": "agora faça esse conclusao: [nome], posso contar com teu comprometimento, para aguardarmos a resposta do usuario ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        280
      ],
      "id": "20d08712-9f7a-41ed-b422-9e0b0c725174",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        280,
        280
      ],
      "id": "c4f59a3c-a9a4-4629-8456-77b5e4cf92af",
      "name": "Wait",
      "webhookId": "d7a6111e-fb8a-4fdc-9c35-2e3f0b686620",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -460,
        280
      ],
      "id": "815767f8-6030-4439-87e7-6b967a033521",
      "name": "Wait1",
      "webhookId": "cea79799-9ab1-44c0-a975-d427cee84332"
    },
    {
      "parameters": {
        "bucketName": "peak-experts",
        "fileKey": "audioinicialbrunosantos.mpeg"
      },
      "id": "09336359-c914-4320-8f46-6506d1406cdd",
      "name": "busca audio para concatenar1",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -280,
        280
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "s3": {
          "id": "upcT0o8NFktNCSiE",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('When Executed by Another Workflow').first().json.url }}/message/sendWhatsAppAudio/{{ $('When Executed by Another Workflow').first().json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "l6v7CBnNIRo041fLlwlvmAXCcPlc"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('When Executed by Another Workflow').first().json.remojid }}"
            },
            {
              "name": "audio",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        280
      ],
      "id": "203c5337-1ffc-4465-9e1d-a07bea03684f",
      "name": "Encaminha Audio"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -100,
        280
      ],
      "id": "e4d09664-5b45-4bf0-a499-5391d8335878",
      "name": "Formata o Audio"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "block",
        "key": "={{ $json.remojid }}_block_audio",
        "options": {}
      },
      "id": "f3e81a70-cef9-4269-9c72-329da66c6181",
      "name": "Get Block Chat Id",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -860,
        280
      ],
      "credentials": {
        "redis": {
          "id": "CnAYUverQDl88vKP",
          "name": "redis-peak"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.block }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IA PODE RESPONDER"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3ef0e01c-cc14-4663-bb4d-2905b350c3ab",
                    "leftValue": "={{ $json.block }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IA NAO PODE RESPONDER"
            }
          ]
        },
        "options": {}
      },
      "id": "03b81ba6-3a67-4157-ace9-993aae11dd20",
      "name": "Switch Block",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -680,
        280
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('When Executed by Another Workflow').item.json.remojid }}_block_audio",
        "value": "true",
        "keyType": "string"
      },
      "id": "510ca2f7-c731-4824-aad6-1bdc4a1d60bd",
      "name": "Block AI",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -460,
        100
      ],
      "credentials": {
        "redis": {
          "id": "CnAYUverQDl88vKP",
          "name": "redis-peak"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e81df8b4-df96-4c16-aa3c-a919e295beda",
              "name": "content",
              "value": "acionar tool solicitacao_fotos",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -500,
        500
      ],
      "id": "26b3a105-1cb9-48ee-b5c8-5781b0f43c20",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "554799830536@s.whatsapp.net_block_audio"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        180,
        580
      ],
      "id": "ebfc6b89-09a5-4048-80ab-62746f534a27",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "CnAYUverQDl88vKP",
          "name": "redis-peak"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-28T15:19:32.800Z",
  "versionId": "cfb52a83-940f-4b4f-9d0b-bc547483297a"
}