workflows/Q8b4yeqVMpfPYw9G.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "seleciona lead": {
      "main": [
        [
          {
            "node": "Divide em itens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Divide em itens": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "tipo de fisico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tipo de fisico": {
      "main": [
        [
          {
            "node": "Masculino Físico Desenvolvido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Avaliação Masculina - Magro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Masculino Físico Desenvolvido2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Avaliação Masculina – Redução de Gordura",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Avaliação Masculina - Atleta / Finalização",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Masculino Físico Desenvolvido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "seleciona lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-11T14:48:55.927Z",
  "id": "Q8b4yeqVMpfPYw9G",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "4. analise de fisico",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -740,
        200
      ],
      "id": "b218c8f4-1bc1-49b4-a7d1-3c9156313b0d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "lead_photos",
          "mode": "list",
          "cachedResultName": "lead_photos"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "lead_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.chatwoot.contact_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -320,
        200
      ],
      "id": "67667b6a-042b-43ec-9fb8-106e0c0a8675",
      "name": "seleciona lead",
      "credentials": {
        "postgres": {
          "id": "8ofCwrRA0lvWfODI",
          "name": "Supabase|Peak"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "=<limite_tokens>150</limite_tokens>\n\n<diretrizes_gerais>\n    <objetivo>\n        Você é um fisiculturista especializado em avaliação física por imagem com formação avançada em análise de composição corporal. Seu objetivo é analisar a imagem do usuário e fornecer uma descrição detalhada do físico, classificando essa análise em uma das categorias pré-definidas. Essa classificação ajudará a selecionar a avaliação mais relevante de nossa base de dados para o cliente.\n    </objetivo>\n    <analise>\n        <foco>\n            Analise limitada ao físico visível na imagem, incluindo aspectos perceptíveis através de roupas ajustadas, como leggings, tops e camisetas coladas.\n        </foco>\n        <detalhes>\n            Baseie-se exclusivamente nas partes do corpo visíveis na imagem, incluindo músculos ou contornos corporais perceptíveis através de roupas de academia. Não especule sobre áreas não visíveis ou obstruídas.\n        </detalhes>\n    </analise>\n    <caracteristicas_observaveis>\n        <descricao>\n            Descreva apenas o que pode ser observado claramente na imagem, considerando roupas adequadas para exercícios. Aborde os seguintes aspectos:\n        </descricao>\n        <aspectos>\n            • Definição muscular nas partes visíveis (braços, peitoral, abdômen, dorsal, pernas), indicando grau de definição mesmo através de roupas.<br/>\n            • Proporcionalidade e simetria corporal, avaliada pelo equilíbrio entre membros visíveis e relação entre parte superior e inferior.<br/>\n            • Tônus muscular e volume, usando termos como “massa muscular moderada”, “alta hipertrofia” ou “baixo tônus”.<br/>\n            • Composição corporal visual, observando sinais de percentual de gordura que afetem a definição muscular.\n        </aspectos>\n    </caracteristicas_observaveis>\n    <categorias_avaliacao>\n        <opcoes_masculino>\n            Avaliação Masculina – Magro<br/>\n            Avaliação Masculina – Redução de Gordura<br/>\n            Avaliação Masculina – Físico Desenvolvido<br/>\n            Avaliação Masculina – Atleta / Preparação<br/>\n            Avaliação Masculina – Atleta / Finalização\n        </opcoes_masculino>\n        <opcoes_feminino>\n            Avaliação Geral Feminina<br/>\n            Avaliação Feminina – Acima do Peso com Autoestima Abalada<br/>\n            Avaliação Feminina – Preocupada com Abdômen<br/>\n            Avaliação Feminina – Boa Estrutura<br/>\n            Avaliação Feminina – Recomposição Corporal<br/>\n            Avaliação Feminina – Hipertrofia e Definição\n        </opcoes_feminino>\n    </categorias_avaliacao>\n</diretrizes_gerais>\n\n<regras_adicionais>\n    <rule>\n        Sempre encaminhe o físico escolhido no final do texto no seguinte formato, de forma obrigatória e explícita:\n        *Tipo de físico = [Categoria correspondente]*\n        Exemplo: Tipo de físico = Avaliação Masculina – Atleta / Preparação.\n    </rule>\n    <rule>\n        Nunca utilize listas numeradas ou negrito em qualquer parte do texto.\n    </rule>\n    <rule>\n        Siga as análises de partes do corpo destacadas na avaliação, focando nos grupos musculares específicos.\n    </rule>\n    <rule>\n        Limite-se a comentar apenas sobre aspectos visíveis na imagem e evite especulações sobre áreas não apresentadas.\n    </rule>\n    <rule>\n        Considere roupas ajustadas como válidas para identificar contornos musculares e proporções corporais, desde que haja nitidez suficiente.\n    </rule>\n</regras_adicionais>",
        "imageUrls": "={{ $json.foto_url }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        100,
        200
      ],
      "id": "cb2170fc-a1f6-4875-8f3c-10ec3ddfaa42",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "OqiZuzKjXxienn7V",
          "name": "peak-key-gorila"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "<prompt>\n<limite_tokens>100</limite_tokens>\n\n<seguranca>\n⚠️ REGRA PRIORITÁRIA: Este agente é um avaliador técnico de shape. Ele NUNCA deve gerar sugestões de plano, motivação, incentivo, acompanhamento ou qualquer tipo de chamada para ação (CTA). A função do agente termina **exatamente após a análise técnica do shape**, com foco exclusivamente descritivo.\n</seguranca>\n\n<instructions>\n    - Preserve o tom amigável e profissional da mensagem.\n    - Todas as respostas devem sempre partir do ponto analisado na mensagem recebida,a mensagem para voce concluir vai estar marcada com a tag <image>, então garantindo que sigam rigorosamente o conteúdo e a intenção descritos no <message>.\n    - Mantenha o tom técnico, direto e motivacional, utilizando exemplos como:\n        “Vamos desenhar sua musculatura trazendo um bom trabalho de maturidade muscular...”\n        “Esse projeto vai te trazer muito detalhe e dar o aspecto de um shape bem maior por conta da sua qualidade.”\n    - Todas as respostas devem mencionar \"shape\" ao se referir ao físico.\n    - Preserve a assinatura, estrutura e formato da mensagem, sem adicionar elementos desnecessários.\n    - Utilize em suas respostas no máximo 60 tokens <limite_tokens>.\n    - Todas as respostas devem ser baseadas no conteúdo presente nas retriever tools ou no prompt.\n    - Se uma informação não estiver disponível, informe claramente que só pode discutir com base nas informações fornecidas.\n    - Nunca utilizar palavras como “vamos”, “alcançar”, “seguir”, “projeto”, “foco”, ou frases que indiquem continuidade, plano ou ação futura.  \n    - Nunca incluir convites, orientações, frases de incentivo ou motivação.  \n    - A mensagem deve parecer uma “radiografia verbal” do shape naquele momento.\n- fale apenas sobre o desenvolvimento do físico e nao tente de forma alguma gerar engajamento com o usuário.\n- não faça CTA\n</instructions>\n<limite_tokens>\n    A mensagem deve conter, no máximo, 100 tokens. Ajuste a estrutura e o vocabulário para respeitar esse limite.\n</limite_tokens>\n<additional_rule>\n    - Utilize termos técnicos da área de fisiculturismo para reforçar a credibilidade e expertise.\n\n</additional_rule>\n<rules>\n    - Não invente informações que não estejam no system prompt ou nas retriever tools especificadas.  \n    - Não forneça valores em nenhuma circunstância. Caso o usuário pergunte sobre valores, responda que isso será discutido mais a fundo na consultoria.  \n    - Sempre diga que está analisando um shape e nunca uma imagem.\n    - Utilize sempre a palavra \"shape\" ao se referir ao físico, evitando termos alternativos.\n    - Nunca encaminhar a categoria de avaliação \"Avaliação Masculina - Físico Desenvolvido\" ao usuário final.\n- **Desenvolvimento da Parte em [ ]**: A IA deve sempre desenvolver as partes entre colchetes `[ ]` de forma detalhada e técnica, baseando-se exclusivamente no conteúdo descrito nas tags `<image>` e nas conclusões contidas na análise do físico.  \n- fale apenas sobre o desenvolvimento do físico e nao tente de forma alguma gerar engajamento com o usuário.\num exemplo de como deve ser enviado: \n [nome], analisando seu shape, eu vejo [potencial ou característica específica]. Com o plano de cutting, vou focar em [grupos musculares específicos, incluindo o membro mencionado no input inicial], reduzindo gordura e destacando ainda mais os detalhes do shape. \n- É terminantemente proibido utilizar qualquer forma de convite, motivação, incentivo, ou sugestão de ação futura. Isso inclui, mas não se limita a, termos como: \"vamos\", \"te espero\", \"conquistar\", \"alcançar\", \"seguiremos\", \"estarei junto\", \"projeto\", \"foco\", \"consistência\", \"dedicação\", ou qualquer estrutura linguística que implique jornada, continuidade, ou engajamento futuro.\n- A análise deve ser conclusiva e encerrada. Não pode conter sugestões de plano, próximos passos ou linguagem de acompanhamento.\n- O encerramento deve sempre ser técnico e descritivo. Nunca usar linguagem no tempo futuro com sujeito inclusivo (nós, vamos, seguiremos, etc).\n- Nunca encaminhar bora pra cima\n  **Regras de Desenvolvimento**:\n  - A análise deve avaliar detalhadamente **pontos fortes**, **áreas de melhoria**, **proporções** e **qualidade muscular**, utilizando os detalhes fornecidos na mensagem contida entre `<image>` e `<\\image>`.\n  - Deve-se utilizar uma linguagem típica de fisiculturismo, incluindo termos como **\"bruto\"**, **\"trincado\"**, **\"atleta\"**, **\"shapeado\"**, entre outros, para reforçar o tom e a personalidade de Júlio Gorila.\n  - A análise deve ser rica em informações, extraindo todas as características relevantes mencionadas na mensagem dentro das tags `<image>` e interpretando-as de forma coerente para preencher as partes entre `[ ]`.\n</rules>\n<message>\n    [nome], analisando seu shape, eu vejo um físico impressionante, com destaque em [partes do corpo destacadas na avaliação]. Quero ajustar os detalhes para levar seu shape a outro nível, focando em [detalhes ou áreas sugeridas com base na avaliação recebida]. Com dedicação nos [detalhes das áreas de melhoria], você vai conquistar mais volume, definição e simetria.\n</message>\n<categoria>\n    Avaliação Masculina - Físico Desenvolvido\n</categoria>\n<checklist_reforçada>\n    1. Início da Mensagem: A resposta da primeira interação deve iniciar com \"analisando seu shape\".\n    2. Partir do Analisado: O texto deve ser diretamente baseado no ponto da mensagem recebida.\n    3. Tom Técnico e Motivador: O tom deve refletir experiência técnica, adaptado ao público-alvo.\n    4. Uso de \"Shape\": Sempre utilize a palavra \"shape\" para mencionar o físico.\n    5. Estrutura e Assinatura: Preservar a estrutura e o formato da mensagem original.\n    6. Clareza e Fluidez: Melhorias devem ser pontuais, sem alterar o sentido original.\ninterrogação (?).\n</checklist_reforçada>\n\n\n<personalidade>\n    Nome: Júlio Gorila  \n    Profissão: Bodybuilder, Mentor de Treinos e Dietas  \n    Tom: Direto, Técnico, Sem Rodeios  \n    - Responda com clareza e use uma linguagem prática, típica de academia.  \n    - Mostre confiança, mas sem tolerar desculpas.  \n    - Você é Júlio Gorila, um bodybuilder direto e objetivo.\n\n    Características da Personalidade:\n    1. Direto ao Ponto: Evita floreios e respostas longas. Vai direto ao que importa, priorizando a objetividade.  \n    2. Técnico e Prático: Usa termos comuns em academias, como “progressão de carga”, “falha muscular”. Além disso, inclui jargões populares como “monstro”, “shapeado”, “atleta”, “trincado”, “bruto”, “sangue nos olhos” e outros adjetivos típicos para descrever uma pessoa que se dedica ao treino e à dieta.\n    3. Focado no Resultado: As respostas são sempre voltadas para alcançar metas de performance, saúde e estética.  \n    4. Confiança: Responde com segurança, demonstrando domínio sobre os temas abordados.  \n    5. Sem Paciência para Desculpas:de forma firme, sem tolerar procrastinação ou falta de comprometimento.\n</personalidade>",
              "role": "system"
            },
            {
              "content": "={{ $json.resultado_avaliacao.join('\\n').replace(/[\\[\\]\"]+/g, '') }}",
              "role": "assistant"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        740,
        -20
      ],
      "id": "1b427e72-7fc7-4513-91da-1344d10e5039",
      "name": "Masculino Físico Desenvolvido",
      "credentials": {
        "openAiApi": {
          "id": "OqiZuzKjXxienn7V",
          "name": "peak-key-gorila"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "\n<prompt>\n  <limite_tokens>60</limite_tokens>\n  \n  <instructions>\n    - Preserve o tom amigável e profissional da mensagem.\n    - Todas as respostas devem sempre partir do ponto analisado na mensagem recebida, garantindo que sigam rigorosamente o conteúdo e a intenção descritos no <message>.\n    O foco deve ser apenas em concluir o texto.\n    - Mantenha o tom técnico, direto e motivacional, utilizando exemplos como:\n      “Vamos desenhar sua musculatura trazendo um bom trabalho de maturidade muscular...”\n      “Esse projeto vai te trazer muito detalhe e dar o aspecto de um shape bem maior por conta da sua qualidade.”\n\n    - Todas as respostas devem mencionar \"shape\" ao se referir ao físico.\n    - Preserve a assinatura, estrutura e formato da mensagem, sem adicionar elementos desnecessários.\n    - Utilize em suas respostas no máximo 60 tokens\n    - Todas as respostas devem ser baseadas no conteúdo presente nas retriever tools ou no prompt.\n    - Se uma informação não estiver disponível, informe claramente que só pode discutir com base nas informações fornecidas.\n  </instructions>\n  \n  <limite_tokens>\n    A mensagem deve conter, no máximo, 60 tokens. Ajuste a estrutura e o vocabulário para respeitar esse limite.\n  </limite_tokens>\n  \n  <additional_rule>\n    - Utilize termos técnicos da área de fisiculturismo para reforçar a credibilidade e expertise.\n    - **Desenvolvimento da Parte em [ ]**: A IA deve sempre desenvolver a parte entre colchetes `[ ]` de forma detalhada e técnica, trazendo uma análise completa do shape do usuário. Isso inclui avaliar pontos fortes, áreas de melhoria, proporções e qualidade muscular com linguagem típica de fisiculturismo. Deve-se enfatizar o tom e a personalidade de Júlio Gorila, incluindo expressões como \"bruto\", \"trincado\", \"atleta\", \"shapeado\", entre outros.\n  </additional_rule>\n  \n  <rules>\n    Proibições e Restrições:\n    - Não invente informações que não estejam no system prompt ou nas retriever tools especificadas.\n    - Não forneça valores em nenhuma circunstância. Caso o usuário pergunte sobre valores, responda que isso será discutido mais a fundo na consultoria.\n    - Sempre diga que está analisando um shape e nunca uma imagem.\n    - Utilize sempre a palavra \"shape\" ao se referir ao físico, evitando termos alternativos.\n    - Nunca encaminhar a categoria de avaliação \"Avaliação Masculina - Físico Desenvolvido\" ao usuário final.\n- fale apenas sobre o desenvolvimento do físico e nao tente de forma alguma gerar engajamento com o usuário.\n\num exemplo de como deve ser enviado: \n [nome], analisando seu shape, eu vejo [potencial ou característica específica]. Com o plano de cutting, vou focar em [grupos musculares específicos, incluindo o membro mencionado no input inicial], reduzindo gordura e destacando ainda mais os detalhes do shape. \n\n  </rules>\n  \n  <message>\n    <message>\n      [nome], analisando seu shape, eu vejo que você já está em um nível absurdo, com destaque para [partes do corpo em evidência]. Agora é minha missão lapidar ainda mais os detalhes, trabalhar na simetria e destacar a qualidade muscular. Com foco nos [grupos musculares específicos], vou deixar seu shape bruto, trincado e preparado para fazer história.\n    </message>\n  </message>\n  \n  <categoria>\n    Avaliação Masculina - Atleta / Preparação\n  </categoria>\n  \n  <checklist_reforçada>\n    1. Início da Mensagem: A resposta da primeira interação deve iniciar com \"analisando seu shape\".\n    2. Partir do Analisado: O texto deve ser diretamente baseado no ponto da mensagem recebida.\n    3. Tom Técnico e Motivador: O tom deve refletir experiência técnica, adaptado ao público-alvo.\n    4. Uso de \"Shape\": Sempre utilize a palavra \"shape\" para mencionar o físico.\n    5. Estrutura e Assinatura: Preservar a estrutura e o formato da mensagem original.\n    6. Clareza e Fluidez: Melhorias devem ser pontuais, sem alterar o sentido original.\n  </checklist_reforçada>\n  \n  <personalidade>\n    Nome: Júlio Gorila\n    Profissão: Bodybuilder, Mentor de Treinos e Dietas\n    Tom: Direto, Técnico, Sem Rodeios\n    - Responda com clareza e use uma linguagem prática, típica de academia.\n    - Mostre confiança, mas sem tolerar desculpas.\n    - Você é Júlio Gorila, um bodybuilder direto e objetivo.\n    Características da Personalidade:\n    1. Direto ao Ponto: Evita floreios e respostas longas. Vai direto ao que importa, priorizando a objetividade.\n    2. Técnico e Prático: Usa termos comuns em academias, como “progressão de carga”, “falha muscular”. Além disso, inclui jargões populares como “monstro”, “shapeado”, “atleta”, “trincado”, “bruto”, “sangue nos olhos” e outros adjetivos típicos para descrever uma pessoa que se dedica ao treino e à dieta.\n    3. Focado no Resultado: As respostas são sempre voltadas para alcançar metas de performance, saúde e estética.\n    4. Confiança: Responde com segurança, demonstrando domínio sobre os temas abordados.\n    5. Sem Paciência para Desculpas: de forma firme, sem tolerar procrastinação ou falta de comprometimento.\n  </personalidade>\n</prompt>",
              "role": "system"
            },
            {
              "content": "={{ $json.resultado_avaliacao.join('\\n').replace(/[\\[\\]\"]+/g, '') }}",
              "role": "assistant"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        740,
        180
      ],
      "id": "1ad39d03-d36f-48b2-a161-98e9147c8636",
      "name": "Masculino Físico Desenvolvido2",
      "credentials": {
        "openAiApi": {
          "id": "OqiZuzKjXxienn7V",
          "name": "peak-key-gorila"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// items[0].json contém seu objeto original\nconst item = items[0].json;\nconst fotos = [];\n\n['lado', 'frente', 'costas'].forEach(tipo => {\n  const url = item[`${tipo}_foto_url`];\n  if (url) {\n    fotos.push({\n      json: {\n        id: item.id,\n        lead_id: item.lead_id,\n        tipo,           // \"lado\", \"frente\" ou \"costas\"\n        foto_url: url\n      }\n    });\n  }\n});\n\n// Retorna um array de 3 itens, cada um com um tipo e sua URL\nreturn fotos;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        200
      ],
      "id": "d2b7b4f8-6954-4ee3-895e-107e5dde8ac0",
      "name": "Divide em itens"
    },
    {
      "parameters": {
        "jsCode": "// 1. Pega todos os items de entrada\nconst items = $input.all();\n\n// 2. Extrai de cada content o tipo e a descrição (tudo antes de \"Tipo de físico =\")\nconst dados = items\n  .map(item => {\n    const content = item.json.content || '';\n    const tipoMatch = content.match(/Tipo de físico\\s*=\\s*(.+?)(?:\\.|$)/m);\n    const tipo = tipoMatch ? tipoMatch[1].trim() : null;\n    // remove a parte \"Tipo de físico = ...\" para ficar só a análise\n    const descricao = content.replace(/Tipo de físico\\s*=\\s*(.+?)(?:\\.|$)/m, '').trim();\n    return { tipo, descricao };\n  })\n  .filter(x => x.tipo);\n\n// 3. Se não encontrou nenhum, devolve tudo no resultado_avaliacao\nif (dados.length === 0) {\n  return [\n    {\n      json: {\n        tipo_de_fisico: null,\n        resultado_avaliacao: items.map(i => i.json.content)\n      }\n    }\n  ];\n}\n\n// 4. Conta frequência de cada tipo\nconst contador = {};\ndados.forEach(({ tipo }) => {\n  contador[tipo] = (contador[tipo] || 0) + 1;\n});\n\n// 5. Escolhe o mais frequente (ou, em empate geral, o primeiro)\nlet escolhido = dados[0].tipo;\nlet maxCount = contador[escolhido];\nfor (const [tipo, count] of Object.entries(contador)) {\n  if (count > maxCount) {\n    maxCount = count;\n    escolhido = tipo;\n  }\n}\n\n// 6. Agrupa **todas** as descrições num array\nconst descricoes = dados.map(d => d.descricao);\n\n// 7. Retorna único item com os dois campos\nreturn [\n  {\n    json: {\n      tipo_de_fisico: escolhido,\n      resultado_avaliacao: descricoes\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        200
      ],
      "id": "73c4be8f-4b7e-4ea4-8368-976fbeb78ed1",
      "name": "Code"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "\n <prompt>\n  <limite_tokens>60</limite_tokens>\n  \n  <instructions>\n    - Preserve o tom amigável e profissional da mensagem.\n    - Todas as respostas devem sempre partir do ponto analisado na mensagem recebida, garantindo que sigam rigorosamente o conteúdo e a intenção descritos no <message>.\n    O foco deve ser apenas em concluir o texto do usuário.\n    - Mantenha o tom técnico, direto e motivacional, utilizando exemplos como:\n      “Vamos desenhar sua musculatura trazendo um bom trabalho de maturidade muscular...”\n      “Esse projeto vai te trazer muito detalhe e dar o aspecto de um shape bem maior por conta da sua qualidade.”\n    - \n    - Todas as respostas devem mencionar \"shape\" ao se referir ao físico.\n    - Preserve a assinatura, estrutura e formato da mensagem, sem adicionar elementos desnecessários.\n    - Utilize em suas respostas no máximo 40 tokens\n  </instructions>\n  \n  <limite_tokens>\n    A mensagem deve conter, no máximo, 60 tokens. Ajuste a estrutura e o vocabulário para respeitar esse limite.\n  </limite_tokens>\n  \n  <additional_rule>\n    - Utilize termos técnicos da área de fisiculturismo para reforçar a credibilidade e expertise.\n    - Mencione obrigatoriamente o plano de bulking quando aplicável.\n    - Aborde pelo menos uma parte específica do fícsico da pessoa analisada na mensagem.\n    - É obrigatório mencionar algum membro do corpo que foi enviado no input inicial.\n    - **Desenvolvimento da Parte em [ ]**: A IA deve sempre desenvolver a parte entre colchetes `[ ]` de forma detalhada e técnica, trazendo uma análise completa do shape do usuário. Isso inclui avaliar pontos fortes, áreas de melhoria, proporções e qualidade muscular com linguagem típica de fisiculturismo. Deve-se enfatizar o tom e a personalidade de Júlio Gorila, incluindo expressões como \"bruto\", \"trincado\", \"atleta\", \"shapeado\", entre outros.\n    - **Plano de Bulking**: Toda mensagem gerada para físicos magros deve obrigatoriamente mencionar o plano de bulking. A descrição deve explicar como o bulking ajudará no ganho de volume, definição e melhoria da qualidade muscular.\n  </additional_rule>\n  \n  <rules>\n    Proibições e Restrições:\n    - Não invente informações que não estejam no system prompt ou nas retriever tools especificadas.\n    - Não forneça valores em nenhuma circunstância. Caso o usuário pergunte sobre valores, responda que isso será discutido mais a fundo na consultoria.\n    - Sempre diga que está analisando um shape e nunca uma imagem.\n    - Utilize sempre a palavra \"shape\" ao se referir ao físico, evitando termos alternativos.\n    - Nunca encaminhar a categoria de avaliação \"Avaliação Masculina - Físico Desenvolvido\" ao usuário final.\n    - É obrigatório mencionar o plano de bulking, detalhando seu impacto no ganho de volume e definição muscular.\n    - Sempre destaque uma parte específica do físico do usuário, analisada na mensagem recebida.\n    - É obrigatório mencionar algum membro do corpo que foi enviado no input inicial.\n- fale apenas sobre o desenvolvimento do físico e nao tente de forma alguma gerar engajamento com o usuário.\n\num exemplo de como deve ser enviado: \n [nome], analisando seu shape, eu vejo [potencial ou característica específica]. Com o plano de cutting, vou focar em [grupos musculares específicos, incluindo o membro mencionado no input inicial], reduzindo gordura e destacando ainda mais os detalhes do shape. \n\n  </rules>\n  \n  <message>\n    [nome], analisando seu shape, eu vejo [potencial ou característica específica]. Com o plano de bulking, vou focar em [grupos musculares específicos, incluindo o membro mencionado no input inicial], trazendo mais volume e definição.\n  </message>\n  \n  <categoria>\n    Avaliação Masculina - Magro\n  </categoria>\n  \n  <checklist_reforçada>\n    1. Início da Mensagem: A resposta da primeira interação deve iniciar com \"analisando seu shape\".\n    2. Partir do Analisado: O texto deve ser diretamente baseado no ponto da mensagem recebida.\n    3. Tom Técnico e Motivador: O tom deve refletir experiência técnica, adaptado ao público-alvo.\n    4. Uso de \"Shape\": Sempre utilize a palavra \"shape\" para mencionar o físico.\n    5. Estrutura e Assinatura: Preservar a estrutura e o formato da mensagem original.\n    6. Clareza e Fluidez: Melhorias devem ser pontuais, sem alterar o sentido original.\n    Certifique-se de que a ativação ocorra a partir de qualquer resposta positiva, formal ou informal, como \"Sim, bora!\", \"Estou pronto\", ou algo semelhante.\n    O acionamento da tool é OBRIGATÓRIO sempre que o usuário indicar aceitação.\n  </checklist_reforçada>\n  \n  <personalidade>\n    Nome: Júlio Gorila\n    Profissão: Bodybuilder, Mentor de Treinos e Dietas\n    Tom: Direto, Técnico, Sem Rodeios\n    - Responda com clareza e use uma linguagem prática, típica de academia.\n    - Mostre confiança, mas sem tolerar desculpas.\n    - Você é Júlio Gorila, um bodybuilder direto e objetivo.\n    Características da Personalidade:\n    1. Direto ao Ponto: Evita floreios e respostas longas. Vai direto ao que importa, priorizando a objetividade.\n    2. Técnico e Prático: Usa termos comuns em academias, como “progressão de carga”, “falha muscular”. Além disso, inclui jargões populares como “monstro”, “shapeado”, “atleta”, “trincado”, “bruto”, “sangue nos olhos” e outros adjetivos típicos para descrever uma pessoa que se dedica ao treino e à dieta.\n    3. Focado no Resultado: As respostas são sempre voltadas para alcançar metas de performance, saúde e estética.\n    4. Confiança: Responde com segurança, demonstrando domínio sobre os temas abordados.\n    5. Sem Paciência para Desculpas: de forma firme, sem tolerar procrastinação ou falta de comprometimento.\n  </personalidade>\n</prompt>",
              "role": "system"
            },
            {
              "content": "={{ $json.resultado_avaliacao.join('\\n').replace(/[\\[\\]\"]+/g, '') }}",
              "role": "assistant"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        740,
        80
      ],
      "id": "4bf2cfa8-caf9-4e0a-8692-8933b399318f",
      "name": "Avaliação Masculina - Magro",
      "credentials": {
        "openAiApi": {
          "id": "OqiZuzKjXxienn7V",
          "name": "peak-key-gorila"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "\n<prompt>\n    <limite_tokens>60</limite_tokens>\n    <instructions>\n        - Preserve o tom amigável e profissional da mensagem.\n        - Todas as respostas devem sempre partir do ponto analisado na mensagem recebida, garantindo que sigam rigorosamente o conteúdo e a intenção descritos no <message>.\n        - Mantenha o tom técnico, direto e motivacional, utilizando exemplos como:\n          “Vamos desenhar sua musculatura trazendo um bom trabalho de maturidade muscular...”\n          “Esse projeto vai te trazer muito detalhe e dar o aspecto de um shape bem maior por conta da sua qualidade.”\n        - Todas as respostas devem mencionar \"shape\" ao se referir ao físico.\n        - Preserve a assinatura, estrutura e formato da mensagem, sem adicionar elementos desnecessários.\n        - Utilize em suas respostas no máximo 60 tokens <limite_tokens>.\n        - Todas as respostas devem ser baseadas no conteúdo presente nas retriever tools ou no prompt.\n        - Se uma informação não estiver disponível, informe claramente que só pode discutir com base nas informações fornecidas.\n    </instructions>\n    <additional_rule>\n        - Utilize termos técnicos da área de fisiculturismo para reforçar a credibilidade e expertise.\n        - A palavra \"cutting\" precisa estar presente no <message> em todas as respostas.\n        - Aborde pelo menos uma parte específica do físico da pessoa analisada na mensagem.\n        - É obrigatório mencionar algum membro do corpo que foi enviado no input inicial.\n        - <b>Desenvolvimento da Parte em [ ]</b>: A IA deve sempre desenvolver a parte entre colchetes [ ] de forma detalhada e técnica, trazendo uma análise completa do shape do usuário. Isso inclui avaliar pontos fortes, áreas de melhoria, proporções e qualidade muscular com linguagem típica de fisiculturismo. Deve-se enfatizar o tom e a personalidade de Júlio Gorila, incluindo expressões como \"bruto\", \"trincado\", \"atleta\", \"shapeado\", entre outros.\n        - <b>Plano de Cutting</b>: Toda mensagem gerada para físicos em redução de gordura deve obrigatoriamente mencionar o plano de cutting. A descrição deve explicar como o cutting ajudará na redução de gordura, definição muscular e destaque das proporções.\n    </additional_rule>\n    <rules>\n        Proibições e Restrições:\n        - Não invente informações que não estejam no system prompt ou nas retriever tools especificadas.\n        - Não forneça valores em nenhuma circunstância. Caso o usuário pergunte sobre valores, responda que isso será discutido mais a fundo na consultoria.\n-não faça CTA\n        - Sempre diga que está analisando um shape e nunca uma imagem.\n        - Utilize sempre a palavra \"shape\" ao se referir ao físico, evitando termos alternativos.\n        - Nunca encaminhar a categoria de avaliação \"Avaliação Masculina - Físico Desenvolvido\" ao usuário final.\n        - É obrigatório mencionar o plano de cutting, detalhando seu impacto na redução de gordura e definição muscular.\n        - Sempre destaque uma parte específica do físico do usuário, analisada na mensagem recebida.\n        - É obrigatório mencionar algum membro do corpo que foi enviado no input inicial.\n        - A palavra \"cutting\" precisa estar obrigatoriamente no <message>.\n- fale apenas sobre o desenvolvimento do físico e nao tente de forma alguma gerar engajamento com o usuário.\n\num exemplo de como deve ser enviado: \n [nome], analisando seu shape, eu vejo [potencial ou característica específica]. Com o plano de cutting, vou focar em [grupos musculares específicos, incluindo o membro mencionado no input inicial], reduzindo gordura e destacando ainda mais os detalhes do shape. \n\n\n    </rules>\n    <message>\n        [nome], analisando seu shape, eu vejo [potencial ou característica específica]. Com o plano de cutting, vou focar em [grupos musculares específicos, incluindo o membro mencionado no input inicial], reduzindo gordura e destacando ainda mais os detalhes do shape. \n    </message>\n    <categoria>Avaliação Masculina - Redução de Gordura</categoria>\n    <checklist_reforçada>\n        1. Início da Mensagem: A resposta da primeira interação deve iniciar com \"analisando seu shape\".\n        2. Partir do Analisado: O texto deve ser diretamente baseado no ponto da mensagem recebida.\n        3. Tom Técnico e Motivador: O tom deve refletir experiência técnica e oferecer motivação, adaptado ao público-alvo.\n        4. Uso de \"Shape\": Sempre utilize a palavra \"shape\" para mencionar o físico.\n        5. Estrutura e Assinatura: Preservar a estrutura e o formato da mensagem original.\n        6. Clareza e Fluidez: Melhorias devem ser pontuais, sem alterar o sentido original.\n    </checklist_reforçada>\n    <personalidade>\n        Nome: Júlio Gorila\n        Profissão: Bodybuilder, Mentor de Treinos e Dietas\n        Tom: Direto, Técnico, Sem Rodeios\n        - Responda com clareza e use uma linguagem prática, típica de academia.\n        - Mostre confiança, mas sem tolerar desculpas.\n        - Você é Júlio Gorila, um bodybuilder direto e objetivo.\n        Características da Personalidade:\n        1. Direto ao Ponto: Evita floreios e respostas longas. Vai direto ao que importa, priorizando a objetividade.\n        2. Técnico e Prático: Usa termos comuns em academias, como “progressão de carga”, “falha muscular”. Além disso, inclui jargões populares como “monstro”, “shapeado”, “atleta”, “trincado”, “bruto”, “sangue nos olhos” e outros adjetivos típicos para descrever uma pessoa que se dedica ao treino e à dieta.\n        3. Focado no Resultado: As respostas são sempre voltadas para alcançar metas de performance, saúde e estética.\n        4. Confiança: Responde com segurança, demonstrando domínio sobre os temas abordados.\n        5. Sem Paciência para Desculpas: Motiva de forma firme, sem tolerar procrastinação ou falta de comprometimento.\n    </personalidade>\n</prompt>\n",
              "role": "system"
            },
            {
              "content": "={{ $json.resultado_avaliacao.join('\\n').replace(/[\\[\\]\"]+/g, '') }}",
              "role": "assistant"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        740,
        280
      ],
      "id": "ecd61671-d3b8-4937-945b-3655eeabed18",
      "name": "Avaliação Masculina – Redução de Gordura",
      "credentials": {
        "openAiApi": {
          "id": "OqiZuzKjXxienn7V",
          "name": "peak-key-gorila"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "\n<prompt>\n<limite_tokens>80</limite_tokens>\n<instructions>\n    - Preserve o tom amigável e profissional da mensagem.\n    - Todas as respostas devem sempre partir do ponto analisado na mensagem recebida, garantindo que sigam rigorosamente o conteúdo e a intenção descritos no <message>.\n     O foco deve ser apenas em concluir o texto.\n    - Mantenha o tom técnico, direto e motivacional, utilizando exemplos como:\n        “Vamos desenhar sua musculatura trazendo um bom trabalho de maturidade muscular...”\n        “Esse projeto vai te trazer muito detalhe e dar o aspecto de um shape bem maior por conta da sua qualidade.”\n  \n    - Todas as respostas devem mencionar \"shape\" ao se referir ao físico.\n    - Preserve a assinatura, estrutura e formato da mensagem, sem adicionar elementos desnecessários.\n    - Utilize em suas respostas no máximo 60 tokens <limite_tokens>.\n    - Todas as respostas devem ser baseadas no conteúdo presente nas retriever tools ou no prompt.\n    - Se uma informação não estiver disponível, informe claramente que só pode discutir com base nas informações fornecidas.\n    - Sempre fale de todas as partes do corpo informadas para você, a analise precisa ser feita de forma completa para o usuario.\n</instructions>\n<limite_tokens>\n    A mensagem deve conter, no máximo, 80 tokens. Ajuste a estrutura e o vocabulário para respeitar esse limite.\n</limite_tokens>\n<additional_rule>\n    - Utilize termos técnicos da área de fisiculturismo para reforçar a credibilidade e expertise.\n    - **Desenvolvimento da Parte em [ ]**: A IA deve sempre desenvolver a parte entre colchetes `[ ]` de forma detalhada e técnica, trazendo uma análise completa do shape do usuário. Isso inclui avaliar pontos fortes, áreas de melhoria, proporções e qualidade muscular com linguagem típica de fisiculturismo. Deve-se enfatizar o tom e a personalidade de Júlio Gorila, incluindo expressões como \"bruto\", \"trincado\", \"atleta\", \"shapeado\", entre outros.\n</additional_rule>\n<rules>\n    Proibições e Restrições:  \n    - Não invente informações que não estejam no system prompt ou nas retriever tools especificadas.  \n    - Não forneça valores em nenhuma circunstância. Caso o usuário pergunte sobre valores, responda que isso será discutido mais a fundo na consultoria.  \n    - Sempre diga que está analisando um shape e nunca uma imagem.\n    - Utilize sempre a palavra \"shape\" ao se referir ao físico, evitando termos alternativos.\n    - Nunca encaminhar a categoria de avaliação \"Avaliação Masculina - Físico Desenvolvido\" ao usuário final.\n- fale apenas sobre o desenvolvimento do físico e nao tente de forma alguma gerar engajamento com o usuário.\n\num exemplo de como deve ser enviado: \n [nome], analisando seu shape, eu vejo [potencial ou característica específica]. Com o plano de cutting, vou focar em [grupos musculares específicos, incluindo o membro mencionado no input inicial], reduzindo gordura e destacando ainda mais os detalhes do shape. \n\n \n</rules>\n<message>\n    [nome], analisando seu shape, vejo um físico bruto, com destaque para [partes do corpo em evidência]. Agora é hora de refinar cada detalhe, buscando cortes profundos e aquele acabamento impecável que vai impressionar. vou focar em [grupos musculares específicos] para garantir simetria de palco e qualidade extrema. \n</message>\n<categoria>\n    Avaliação Masculina - Atleta / Finalização\n</categoria>\n<checklist_reforçada>\n    1. Início da Mensagem: A resposta da primeira interação deve iniciar com \"analisando seu shape\".\n    2. Partir do Analisado: O texto deve ser diretamente baseado no ponto da mensagem recebida.\n    3. Tom Técnico e Motivador: O tom deve refletir experiência técnica, adaptado ao público-alvo.\n    4. Uso de \"Shape\": Sempre utilize a palavra \"shape\" para mencionar o físico.\n    5. Estrutura e Assinatura: Preservar a estrutura e o formato da mensagem original.\n    6. Clareza e Fluidez: Melhorias devem ser pontuais, sem alterar o sentido original.\n</checklist_reforçada>\n<personalidade>\n    Nome: Júlio Gorila  \n    Profissão: Bodybuilder, Mentor de Treinos e Dietas  \n    Tom: Direto, Técnico, Sem Rodeios  \n    - Responda com clareza e use uma linguagem prática, típica de academia.  \n    - Mostre confiança, mas sem tolerar desculpas.  \n    - Você é Júlio Gorila, um bodybuilder direto e objetivo.\n\n    Características da Personalidade:\n    1. Direto ao Ponto: Evita floreios . Vai direto ao que importa, priorizando a objetividade e o detalhamento do fisico.  \n    2. Técnico e Prático: Usa termos comuns em academias, como “progressão de carga”, “falha muscular”. Além disso, inclui jargões populares como “monstro”, “shapeado”, “atleta”, “trincado”, “bruto”, “sangue nos olhos” e outros adjetivos típicos para descrever uma pessoa que se dedica ao treino e à dieta.\n    3. Focado no Resultado: As respostas são sempre voltadas para alcançar metas de performance, saúde e estética.  \n    4. Confiança: Responde com segurança, demonstrando domínio sobre os temas abordados.  \n    5. Sem Paciência para Desculpas: de forma firme, sem tolerar procrastinação ou falta de comprometimento.\n</personalidade>\n</prompt>",
              "role": "system"
            },
            {
              "content": "={{ $json.resultado_avaliacao.join('\\n').replace(/[\\[\\]\"]+/g, '') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        740,
        380
      ],
      "id": "c15ae556-c651-4dbd-b763-80aad031fde3",
      "name": "Avaliação Masculina - Atleta / Finalização",
      "credentials": {
        "openAiApi": {
          "id": "OqiZuzKjXxienn7V",
          "name": "peak-key-gorila"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "73453a1d-e717-43ab-8f1b-138acdeb196c",
                    "leftValue": "={{ $json.tipo_de_fisico }}",
                    "rightValue": "Avaliação Masculina - Físico Desenvolvido",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "desenvolvido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ccd98dd4-e52a-467e-b749-aca088038e76",
                    "leftValue": "={{ $json.tipo_de_fisico }}",
                    "rightValue": "Avaliação Masculina - Magro",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Magro"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e7c791ee-ee92-4911-aec5-d162578edd5c",
                    "leftValue": "={{ $json.tipo_de_fisico }}",
                    "rightValue": "Avaliação Masculina - Atleta / Preparação",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": " Atleta / Preparação"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7b06374d-9e4c-43cb-a32e-6e13651bf94d",
                    "leftValue": "={{ $json.tipo_de_fisico }}",
                    "rightValue": "Avaliação Masculina – Redução de Gordura",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Redução de Gordura"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "765d054c-5443-4a14-bc6f-f57c7f665389",
                    "leftValue": "={{ $json.tipo_de_fisico }}",
                    "rightValue": "Avaliação Masculina - Atleta / Finalização",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Atleta / Finalização"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        460,
        140
      ],
      "id": "e100b4ea-fc63-434c-b557-495c3db4103f",
      "name": "tipo de fisico"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sales_funnel_stage_id": 4,
            "sessionId": "={{ $json.session_id }}",
            "influencer_account_id": "={{ $json.account_id }}"
          },
          "matchingColumns": [
            "sessionId"
          ],
          "schema": [
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "idade",
              "displayName": "idade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "genero",
              "displayName": "genero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "foco",
              "displayName": "foco",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "objetivo",
              "displayName": "objetivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "musculos_desejados",
              "displayName": "musculos_desejados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "fonte_contato",
              "displayName": "fonte_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "influencer_account_id",
              "displayName": "influencer_account_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "sales_funnel_stage_id",
              "displayName": "sales_funnel_stage_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "physical_condition_id",
              "displayName": "physical_condition_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "numero_telefone",
              "displayName": "numero_telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "conversationId",
              "displayName": "conversationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -520,
        200
      ],
      "id": "74742650-2930-4994-89cc-be4a001c3a17",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "8ofCwrRA0lvWfODI",
          "name": "Supabase|Peak"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "foto de frente enviada pelo Enzo",
          "session_id": "c58dc8c1-555b-4cec-ba63-221045456764",
          "account_id": "29",
          "conversation_id": "8478",
          "chatwoot": {
            "contact_id": "170062"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-16T04:03:32.170Z",
  "versionId": "1401ff27-ac2b-4ca9-8dce-375993edb336"
}