workflows/qwfbOLMwHx3oNqtx.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Mandar mensagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normaliza dados recebidos": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mandar mensagem": {
      "main": [
        [
          {
            "node": "Baixar audio pix expirado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar supabase": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Mandar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mandar mensagem1": {
      "main": [
        [
          {
            "node": "Buscar supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConverteArquivo": {
      "main": [
        [
          {
            "node": "Audio Pix expirado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar audio pix expirado": {
      "main": [
        [
          {
            "node": "ConverteArquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Pix expirado": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "normaliza dados recebidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-24T12:00:07.663Z",
  "id": "qwfbOLMwHx3oNqtx",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Remarketing joao curry",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17,
              "triggerAtMinute": 35
            }
          ]
        }
      },
      "id": "2fe5fe5a-add8-4a86-9167-4a564e057487",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -4860,
        360
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ade5f965-5cfe-410b-8469-29aeee578593",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3540,
        360
      ]
    },
    {
      "parameters": {},
      "id": "a53c08b2-6d86-4c25-b4c7-50475f5c6000",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        400,
        700
      ]
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -180,
        620
      ],
      "id": "a9c7b143-5aaa-4b47-940f-8461bab4ea90",
      "name": "Wait",
      "webhookId": "4ba4bf95-e1c3-48eb-ac7e-0c353f136553"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dcc9fcde-c25b-4324-ba4c-bdbb444d7d7d",
              "name": "numero.usuario",
              "value": "={{ $json.whatsapp }}",
              "type": "string"
            },
            {
              "id": "5f1b9ae5-ab23-4018-adc7-d45eccb3fa7f",
              "name": "url-evolution",
              "value": "https://wsapi.peak.botfai.com.br",
              "type": "string"
            },
            {
              "id": "8d487b1d-c84b-4782-a84d-09071941d6e7",
              "name": "apikey-evolution",
              "value": "l6v7CBnNIRo041fLlwlvmAXCcPlc",
              "type": "string"
            },
            {
              "id": "4701b992-2bca-4b4c-834e-9b445e0e5f3b",
              "name": "instancia",
              "value": "joaocurry_1991",
              "type": "string"
            },
            {
              "id": "8d2097e3-b88b-4164-9cfa-c885ee44e177",
              "name": "recebeu_rmkt",
              "value": "={{ $('Buscar supabase').first().json.recebeu_rmkt }}",
              "type": "string"
            },
            {
              "id": "b4f9695a-2da4-49a7-a09f-6757563f93f4",
              "name": "id",
              "value": "={{ $('Buscar supabase').first().json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3840,
        360
      ],
      "id": "098b7b1d-ba83-472e-8a58-3757eb5f0afa",
      "name": "normaliza dados recebidos"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => ({\n  json: {\n    // mantém todo o JSON original\n    ...item.json,\n    // adiciona o número aleatório como number\n    randomNumber: Math.floor(Math.random() * 5) + 1,\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1100,
        140
      ],
      "id": "e6a85340-701a-4bb5-8d15-0d3efc7e884b",
      "name": "Code1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.randomNumber.toString() }}",
                    "rightValue": "=1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "42c442e1-fdce-4f50-95a6-04143d06d13a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fb37a57e-98c7-4889-999d-a64a909d45df",
                    "leftValue": "={{ $json.randomNumber.toString() }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cf5bba66-631a-4ce7-ad69-5521df2df134",
                    "leftValue": "={{ $json.randomNumber.toString() }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "16810f0c-f27a-48b0-bbe8-0453c7e587cb",
                    "leftValue": "={{ $json.randomNumber.toString() }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "4"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6f1240e1-a8aa-458c-a7fc-12573d365dda",
                    "leftValue": "={{ $json.randomNumber.toString() }}",
                    "rightValue": "5",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -880,
        20
      ],
      "id": "0294309c-7d56-456b-af01-3aaad79b6096",
      "name": "Switch"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -180,
        0
      ],
      "id": "02f9cd3c-1c1a-4c74-b0b7-c30c695be587",
      "name": "Wait1",
      "webhookId": "2ec6307e-4d05-46dc-9559-4b4fb074e880"
    },
    {
      "parameters": {
        "amount": 7
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -180,
        160
      ],
      "id": "2fc08726-d30f-47f7-a208-a24e61f5d309",
      "name": "Wait2",
      "webhookId": "f8fb9b58-1169-4c62-be2a-c30a35f8f3f3"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -180,
        320
      ],
      "id": "360f9060-04b5-4b32-8875-7ce05b53ea53",
      "name": "Wait3",
      "webhookId": "7b151a01-9060-4595-896d-6e885faccd3b"
    },
    {
      "parameters": {
        "amount": 9
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -180,
        460
      ],
      "id": "b0a3b91d-c20e-4e28-8b87-104134e15931",
      "name": "Wait4",
      "webhookId": "d82a388e-527c-4e8b-8463-907f5faf5d00"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('normaliza dados recebidos').item.json['url-evolution'] }}/message/sendText/{{ $('normaliza dados recebidos').item.json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('normaliza dados recebidos').item.json['apikey-evolution'] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('normaliza dados recebidos').item.json.numero.usuario }}"
            },
            {
              "name": "mediatype",
              "value": "image"
            },
            {
              "name": "text",
              "value": "={{ $('Basic LLM Chain').item.json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5768b358-bc73-476e-9ed3-38152e42c249",
      "name": "Mandar mensagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2260,
        380
      ],
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT whatsapp, recebeu_rmkt, ID\nFROM \"rmkt_curry\";\n",
        "options": {}
      },
      "id": "502db86b-60a8-4566-a043-316035f9e75b",
      "name": "Buscar supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -4360,
        360
      ],
      "credentials": {
        "postgres": {
          "id": "lAXuYazfiYgbUaPB",
          "name": "Supabase I Remarketing"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=você tem essa mensagem:  Cara, vim aqui saber se ficou alguma dúvida sobre o unlock, algo que gostaria de saber mais sobre a plaforma ?\n\n\nreescreva ela, sem mudar o sentido, sem alterar muito os jargoes, apenas mudando uma palavra ou outra e me retorne somente a mensagem alterada\n\n\n",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -2740,
        380
      ],
      "id": "3840e625-96d6-4a02-bcea-98ab5baefb54",
      "name": "Basic LLM Chain",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2720,
        540
      ],
      "id": "0b01935c-06d6-45e0-8e79-0ecc530acc7b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OqiZuzKjXxienn7V",
          "name": "peak-key-gorila"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "rmkt_curry",
          "mode": "list",
          "cachedResultName": "rmkt_curry"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('normaliza dados recebidos').item.json.id }}",
            "recebeu_rmkt": "Sim",
            "whatsapp": "={{ $('normaliza dados recebidos').item.json.numero.usuario }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "whatsapp",
              "displayName": "whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "Form Name (ID)",
              "displayName": "Form Name (ID)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Submission ID",
              "displayName": "Submission ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Created At",
              "displayName": "Created At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "User ID",
              "displayName": "User ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "User Agent",
              "displayName": "User Agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "User IP",
              "displayName": "User IP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Referrer",
              "displayName": "Referrer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "recebeu_rmkt",
              "displayName": "recebeu_rmkt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1120,
        380
      ],
      "id": "06050725-4fa4-4751-9ca2-3bd8dcd03bd5",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "lAXuYazfiYgbUaPB",
          "name": "Supabase I Remarketing"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c51723db-0b29-4ff8-a816-ad0a1224ea89",
              "leftValue": "={{ $json.recebeu_rmkt }}",
              "rightValue": "Sim",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3000,
        380
      ],
      "id": "f55f442a-b92a-4fa2-9545-02cdd0b31573",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.sv-02.botfai.com.br/message/sendText/numero2testes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=566aea34-4c49-47f9-ba60-b24da9c6dd84"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5517992749450"
            },
            {
              "name": "mediatype",
              "value": "image"
            },
            {
              "name": "text",
              "value": "=Remarketing Horse iniciado"
            }
          ]
        },
        "options": {}
      },
      "id": "ce94090c-4603-4ba1-b797-a6f7b0a1e3d5",
      "name": "Mandar mensagem1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4640,
        360
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d24edd07-16a0-47d3-b33d-51bba082632c",
              "leftValue": "={{ $now.setZone('America/Sao_Paulo').hour < 20 }}",
              "rightValue": "=2025-05-29T20:00:00",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3340,
        380
      ],
      "id": "b54b06ee-ed2c-45e6-b5f0-d5eaef137070",
      "name": "If2"
    },
    {
      "parameters": {
        "errorMessage": "fora de horario"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -3220,
        220
      ],
      "id": "d03d3bc9-fc09-4bcf-9a98-8b0605e1a1db",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('normaliza dados recebidos').item.json[\"url-evolution\"] }}/message/sendWhatsAppAudio/{{ $('normaliza dados recebidos').item.json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('normaliza dados recebidos').item.json[\"apikey-evolution\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('normaliza dados recebidos').item.json.numero.usuario }}"
            },
            {
              "name": "audio",
              "value": "={{ $json.data }}"
            },
            {
              "name": "delay",
              "value": "={{ 20000 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1340,
        380
      ],
      "id": "7f09786c-82f2-4980-adbf-32d4f3ce33f8",
      "name": "Audio Pix expirado",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1540,
        380
      ],
      "id": "8295025f-02e3-4bad-ad59-be316341f08a",
      "name": "ConverteArquivo"
    },
    {
      "parameters": {
        "bucketName": "peak-experts",
        "fileKey": "Audios/joaocurry/joao_curry_rmkt.ogg"
      },
      "id": "e32784ca-9f70-4576-84a2-409f2e9bc7cf",
      "name": "Baixar audio pix expirado",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -1760,
        380
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "s3": {
          "id": "upcT0o8NFktNCSiE",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega todos os itens de entrada\nconst items = $input.all();\n\n// Mapeia cada item, ajustando o whatsapp\nconst output = items.map(item => {\n  let whatsapp = item.json.whatsapp.toString();\n  if (!whatsapp.startsWith('55')) {\n    whatsapp = '55' + whatsapp;\n  }\n  // atualiza o campo e devolve o novo item\n  item.json.whatsapp = whatsapp;\n  return item;\n});\n\n// Retorna o array completo de itens já formatados\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4140,
        360
      ],
      "id": "49d1c261-df64-4a64-a870-25323bcc113a",
      "name": "Code"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-06-25T12:00:10.396Z",
  "versionId": "9fca89ea-b71f-4cf3-b160-1c46a82845c9"
}