workflows/Yo3AcrVyTI17a6jX.json
{
  "active": false,
  "connections": {
    "AbrirConversa": {
      "main": [
        [
          {
            "node": "RegistraMsg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendRabbit": {
      "main": [
        [
          {
            "node": "NoOp.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configurações": {
      "main": [
        [
          {
            "node": "UnificaDados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UnificaDados": {
      "main": [
        [
          {
            "node": "Origem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AbrirConversa?": {
      "main": [
        [
          {
            "node": "AbrirConversa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FiltraMensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FiltraMensagens": {
      "main": [
        [
          {
            "node": "ObtemDados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ObtemDados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NoOp.1": {
      "main": [
        [
          {
            "node": "UnificaDados",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "ObtemDados": {
      "main": [
        [
          {
            "node": "ProcessInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizacao": {
      "main": [
        [
          {
            "node": "Configurações",
            "type": "main",
            "index": 0
          },
          {
            "node": "NoOp.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NoOp.4": {
      "main": [
        [
          {
            "node": "ObtemDados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Origem": {
      "main": [
        [
          {
            "node": "AbrirConversa?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp.4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscaUsuario": {
      "main": [
        [
          {
            "node": "Chat Memory Manager3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RegistraMsg": {
      "main": [
        [
          {
            "node": "BuscaUsuario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp.6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Normalizacao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp.2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "EvoCloud": {
      "main": [
        []
      ]
    },
    "chatTrigger": {
      "main": [
        [
          {
            "node": "Normalização",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consumidor": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot": {
      "main": [
        [
          {
            "node": "verifica se é reecbida ou enviada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NoOp.": {
      "main": [
        []
      ]
    },
    "verifica se é reecbida ou enviada": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SendRabbit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-28T00:54:02.687Z",
  "id": "Yo3AcrVyTI17a6jX",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[teste] Ajuste Rabbit",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('UnificaDados').item.json.app.chatwoot.url }}/api/v1/accounts/{{ $('Normalizacao').item.json.app.chatwoot.accountId }}/conversations/{{ $('Normalizacao').item.json.meta.conversationId }}/toggle_status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('UnificaDados').item.json.app.chatwoot.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"open\"\n}",
        "options": {}
      },
      "id": "fcd624c6-8687-4c99-a2c8-eb55e81a1fc5",
      "name": "AbrirConversa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -520,
        1120
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "l9zn6updNQrYwcbB",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 599.8393517025822,
        "width": 2460.3687517172984,
        "color": 6
      },
      "id": "d842f5f9-0eab-4c58-b9b8-fd44bd5b8b33",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2000,
        1020
      ]
    },
    {
      "parameters": {
        "queue": "teste",
        "options": {}
      },
      "id": "c1e8440e-f2a8-4af9-81cd-952ba85e228c",
      "name": "SendRabbit",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        -1300,
        860
      ],
      "notesInFlow": true,
      "credentials": {
        "rabbitmq": {
          "id": "FUtNv1kFTrj08Qcr",
          "name": "RabbitMQ peak"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5bcbdc2e-99a4-47b2-aea0-1e1fb3e08b5f",
              "name": "app.chatwoot.url",
              "value": "=https://chat.peakperformance.app.br",
              "type": "string"
            },
            {
              "id": "ede19077-7935-4b6a-9f25-4b46bdc98424",
              "name": "app.chatwoot.token",
              "value": "=rKFqWmkfJorQ6MXkNgP7HhT3",
              "type": "string"
            },
            {
              "id": "3f7b0372-1974-49be-aaba-c380b930e248",
              "name": "app.chatwoot.assistantName",
              "value": "=Agente I.A.",
              "type": "string"
            },
            {
              "id": "6e9f8439-2f77-436f-a52e-f4a3b4c1a63f",
              "name": "app.debouncerTime",
              "value": "=6",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "20b79287-b164-4dff-a854-7e921da27c8a",
      "name": "Configurações",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -1320,
        1120
      ],
      "notesInFlow": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "2e8d96bc-caa1-4c10-af1f-5097d40245cb",
      "name": "UnificaDados",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1120,
        1220
      ],
      "notesInFlow": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b6c302a9-3299-4c92-942f-9cdcec3441cd",
              "leftValue": "={{ $json.app.chatwoot.assistantName }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "4a45b38b-aab5-4dc3-aaf9-06cf4341de23",
              "leftValue": "={{ $('Normalizacao').item.json.meta.pushName }}",
              "rightValue": "={{ $json.app.chatwoot.assistantName }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "f9cbbcdf-35ab-4dea-b053-ceb845ec7d6a",
              "leftValue": "={{ $('Normalizacao').item.json.meta.senderType }}",
              "rightValue": "User",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "888a1253-2aef-4d60-ba4f-8323243d1512",
      "name": "AbrirConversa?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -720,
        1220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c7fb1058-f797-4495-90f5-8587e768621f",
              "leftValue": "={{ $('Normalizacao').item.json.meta.senderType }}",
              "rightValue": "=Contact",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "095ddfdb-8121-4208-9971-b17fec7e5061",
              "leftValue": "={{ $('Normalizacao').item.json.meta.identifier.split('@')[1] }}",
              "rightValue": "g.us",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "d2ffd184-037b-4731-aeb8-b7fbaf98f4da",
              "leftValue": "={{ $('Normalizacao').item.json.meta.phoneNumber }}",
              "rightValue": "+123456",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "c02f2583-30c4-44c1-8292-835c579d4e02",
              "leftValue": "={{ $('Normalizacao').item.json.meta.conversationStatus }}",
              "rightValue": "=pending",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "47d28889-fe4f-4c89-a73a-efd9bdcdb33c",
      "name": "FiltraMensagens",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -520,
        1320
      ]
    },
    {
      "parameters": {
        "content": "Configurar nome da fila do Rabbit",
        "height": 199.92100851423996,
        "width": 180.90155202154455,
        "color": 2
      },
      "id": "4069aa4d-fdf6-4f18-95b8-6eeb9df8397d",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1340,
        800
      ]
    },
    {
      "parameters": {
        "content": "Configurações do fluxo",
        "height": 199.92100851423996,
        "width": 180.90155202154455,
        "color": 2
      },
      "id": "93d3ed33-d54d-4cc8-8c1e-1eeb3d1dca62",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1360,
        1060
      ]
    },
    {
      "parameters": {
        "content": "Configurar nome da fila do Rabbit",
        "height": 199.92100851423996,
        "width": 180.90155202154455,
        "color": 2
      },
      "id": "1c5e355f-0332-4732-a2db-5f670f0338d5",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1960,
        1260
      ]
    },
    {
      "parameters": {
        "content": "## Credenciais \n  - Rabbit\n  - Chatwoot\n",
        "height": 199.92100851423996,
        "width": 180.90155202154455,
        "color": 5
      },
      "id": "855d1520-9d9d-46d4-a600-a8510fcd5882",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1960,
        1040
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 220,
        "width": 1139,
        "color": 6
      },
      "id": "f10bc428-d205-40ea-a24d-6dba5b5c66ee",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2000,
        800
      ]
    },
    {
      "parameters": {},
      "id": "d3f3101d-e643-4596-962d-52b214504e65",
      "name": "NoOp.1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1320,
        1320
      ]
    },
    {
      "parameters": {},
      "id": "f1681c32-9134-4271-8667-98c6610cb1f9",
      "name": "NoOp.",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1080,
        860
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tWCrnDECihLJKtGS",
          "mode": "list",
          "cachedResultName": "⏳💭Buffer | Rabbit | Brandao"
        },
        "options": {}
      },
      "id": "af8817f9-a99b-46e8-88fd-126bcbd99b56",
      "name": "ProcessInfo",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -100,
        1440
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const dados = $('Consumidor').item.json;\n\n// Verifica se o horário atual é após as 23h (inclusive 23:00)\nconst isApos23h = new Date().getHours() >= 23;\n\n// Retorna os dados originais com o novo campo booleano\nreturn {\n  ...dados,\n  isApos23h: isApos23h\n};\n"
      },
      "id": "15bab647-9622-4ab3-9ea6-b5fa2ae50b36",
      "name": "ObtemDados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -300,
        1440
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "136b6c22-92af-480b-8999-c96229e2602c",
              "name": "app.chatwoot.accountId",
              "value": "={{ $json.body.account.id }}",
              "type": "number"
            },
            {
              "id": "25255c12-3351-4d29-8ab9-3f029844cbea",
              "name": "app.chatwoot.accountName",
              "value": "={{ $json.body.account.name }}",
              "type": "string"
            },
            {
              "id": "9fcd6245-1088-4908-b2ce-6dafaa9077cf",
              "name": "content.type",
              "value": "={{ \n  $json.body?.conversation?.messages?.[0]?.attachments?.[0]?.file_type === 'image' ? 'image' :\n  $json.body?.conversation?.messages?.[0]?.attachments?.[0]?.file_type === 'audio' ? 'audio' :\n  $json.body?.conversation?.messages?.[0]?.attachments?.[0]?.file_type === 'file' ? \n ($json.body?.conversation?.messages?.[0]?.attachments?.[0]?.data_url?.split('.').pop() || '') :\n  $json.body?.content_type === 'text' && $json.body?.content ? 'text' :\n\n  $json.body?.data?.message?.extendedTextMessage ? 'text' :\n  $json.body?.data?.message?.conversation ? 'text' :\n  $json.body?.data?.message?.audioMessage ? 'audio' :\n  $json.body?.data?.message?.imageMessage ? 'image' : \n  null \n}}",
              "type": "string"
            },
            {
              "id": "4b59bbc1-e156-404a-926e-64a724680e50",
              "name": "=content.url",
              "value": "={{ \n  $json.body?.attachments?.[0]?.data_url || \n\n  $json.body?.data?.message?.mediaUrl || \n  null \n}}",
              "type": "string"
            },
            {
              "id": "8d2c12a1-7fe3-4240-b26e-50bc3f456974",
              "name": "meta.channel",
              "value": "={{ $json.body.conversation.channel }}",
              "type": "string"
            },
            {
              "id": "5d45b300-6003-40a2-a254-a064f0e714d9",
              "name": "meta.contactId",
              "value": "={{ \n  $json.body?.conversation?.contact_inbox?.contact_id || \n  $json.body?.data?.key?.remoteJid || \n  null \n}}",
              "type": "string"
            },
            {
              "id": "0985145f-e7b3-4dd6-a5ca-7d2f2171857c",
              "name": "meta.conversationId",
              "value": "={{ $json.body.conversation.id }}",
              "type": "number"
            },
            {
              "id": "67c01702-3024-46ae-b04e-ef42dc9dca9b",
              "name": "meta.pushName",
              "value": "={{ \n  $json.body?.sender?.name || \n  $json.body?.data?.pushName || \n  null \n}}",
              "type": "string"
            },
            {
              "id": "1da1d918-fe26-45c5-ad7f-d313f116e133",
              "name": "meta.senderType",
              "value": "={{ $json.body.conversation.messages[0].sender_type }}",
              "type": "string"
            },
            {
              "id": "39574240-7c0e-45b5-b552-4d564d42cd37",
              "name": "meta.identifier",
              "value": "={{ \n  $json.body?.sender?.identifier || \n  $json.body?.sender || \n  null \n}}",
              "type": "string"
            },
            {
              "id": "804d3b1c-42b1-43cd-a1c3-78d9f37d766b",
              "name": "meta.msg_id",
              "value": "={{ $json.body.source_id.replace('WAID:', '') }}",
              "type": "string"
            },
            {
              "id": "97e73aa7-0771-4b3d-876e-494be5511914",
              "name": "meta.phoneNumber",
              "value": "={{ $json.body.sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "b5fb5a8b-d8a8-434a-a0ba-80e5717bb6b1",
              "name": "meta.conversationStatus",
              "value": "={{ $json.body.conversation.status }}",
              "type": "string"
            },
            {
              "id": "d5e846be-8d10-4aa6-88c7-1cd0a46d3868",
              "name": "app.evo.apikey",
              "value": "={{ $json.body.apikey || null }}",
              "type": "string"
            },
            {
              "id": "875e7e25-7737-4efb-9491-c4f94b2afb85",
              "name": "app.evo.instance",
              "value": "={{ $json.body.instance || null }}",
              "type": "string"
            },
            {
              "id": "dc2454d2-5416-4616-abb9-6b4257b3b600",
              "name": "app.evo.server",
              "value": "={{ $json.body.server_url || null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5968d547-7a65-4fbc-8c29-f55c18048a09",
      "name": "Normalizacao",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1520,
        1220
      ],
      "notesInFlow": true
    },
    {
      "parameters": {},
      "id": "ff947abd-2555-48da-84cf-505338c18d9d",
      "name": "NoOp.4",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -700,
        1440
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "69bfdebd-909a-4aa3-b6a1-c63ec715a09d11",
        "options": {}
      },
      "id": "7d73cf23-a3c3-4a65-a6f5-006447f95238",
      "name": "Chatwoot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1960,
        840
      ],
      "webhookId": "316517ae-f687-4830-8246-d97edb67aead"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "38b982fe-7cad-43b2-81fe-1cebc8a54740",
              "leftValue": "={{ $json.app.evo.instance }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c72f1416-214d-4809-aa14-3945eba4701e",
      "name": "Origem",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -920,
        1320
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "numero_telefone",
              "keyValue": "={{ $('UnificaDados').item.json.meta.contactId }}"
            }
          ]
        }
      },
      "id": "bfd374f6-9b47-4b66-9a2d-cafbb539b649",
      "name": "BuscaUsuario",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -100,
        1120
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "notesInFlow": false,
      "credentials": {
        "supabaseApi": {
          "id": "pOjjHe9STqiT8PDd",
          "name": "peak-relacional"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "message": "={\n  \"sender\": \"{{ $('UnificaDados').item.json.meta.senderType }}\",\n  \"name\": \"{{ $('UnificaDados').item.json.meta.pushName }}\",\n  \"content\": \"{{ $('UnificaDados').item.json.content.message }}\"\n}"
            }
          ]
        }
      },
      "id": "12451734-b62d-4953-a340-3ba2b6a59625",
      "name": "Chat Memory Manager3",
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        100,
        1120
      ]
    },
    {
      "parameters": {},
      "id": "827e61af-2c67-4a87-9a20-b8f7b293d9b4",
      "name": "NoOp.6",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -100,
        1300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "38b982fe-7cad-43b2-81fe-1cebc8a54740",
              "leftValue": "={{ $('Normalizacao').item.json.meta.senderType }}",
              "rightValue": "AgentBot",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "220b0dbf-47b9-4cc4-96b8-2a6b89d9ae09",
              "leftValue": "={{ $('Normalizacao').item.json.content.message }}",
              "rightValue": "={{ $('Normalizacao').item.json.content.message }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "481658fe-319b-4645-a907-9f236ce57ec1",
      "name": "RegistraMsg",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        1220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9a1254b3-fd97-40cd-bdbc-5f25d7f4d013",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "message_created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "758e63e0-89a3-44a1-abf5-c7c1a5897f4e",
              "leftValue": "={{ $json.body.instance }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "222f8ced-59cf-4e07-b26a-8e105116de25",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1740,
        1320
      ]
    },
    {
      "parameters": {},
      "id": "d7e0d1a3-194e-41d4-bbcb-45b01b4e908f",
      "name": "NoOp.2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1520,
        1420
      ]
    },
    {
      "parameters": {
        "content": "Habilite a memória da AI",
        "height": 259.80359243954405,
        "width": 150,
        "color": 2
      },
      "id": "cb462434-66c9-462a-b309-dfe6ebc319c2",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        260,
        1280
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId || \"24058632-8e0e-4119-9cd3-60a204db1d46\"}}",
        "contextWindowLength": 10
      },
      "id": "ce0ca7fd-9e9d-493f-b543-b7ba121a6b3b",
      "name": "Redis",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        300,
        1380
      ],
      "credentials": {
        "redis": {
          "id": "CnAYUverQDl88vKP",
          "name": "redis-peak"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5711be4b-146d-4618-8ec7-81d92f891d40",
        "options": {}
      },
      "id": "2a2331ad-0493-4ac1-9aed-a5ef45e3638a",
      "name": "EvoCloud",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2000,
        620
      ],
      "webhookId": "5711be4b-146d-4618-8ec7-81d92f891d40",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"app\": {\n    \"chatwoot\": {\n      \"url\": \"https://app.bitfy.ai\",\n      \"token\": \"aCadPq1pxgLbV2xdAKVfLav2\",\n      \"assistantName\": \"Anna da BITFY\",\n      \"accountId\": 1,\n      \"accountName\": \"BITFY.AI\"\n    },\n    \"dify\": {\n      \"url\": \"https://apidify.bitfy.ai/v1\",\n      \"key\": \"\"\n    },\n    \"debouncerTime\": 0\n  },\n  \"content\": {\n    \"type\": \"text\",\n    \"message\": \"{{ $('chatTrigger').item.json.chatInput }}\",\n    \"id\": 909,\n    \"url\": null\n  },\n  \"meta\": {\n    \"channel\": \"Channel::Telegram\",\n    \"chatwootId\": 1148,\n    \"conversationId\": 501,\n    \"pushName\": \"Pedro Nascimento\",\n    \"senderType\": \"Contact\",\n    \"identifier\": \"753066854\",\n    \"phoneNumber\": null,\n    \"conversationStatus\": \"pending\"\n  }\n}",
        "options": {}
      },
      "id": "5faefad3-5120-4495-829b-e1781d836e11",
      "name": "Normalização",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1900,
        620
      ],
      "notesInFlow": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3e1cf039-b5c2-4928-a1ef-afedf1a5eb8c",
      "name": "chatTrigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -2000,
        620
      ],
      "webhookId": "e1dee65f-e7b6-49e6-ab01-58e8f07a4954"
    },
    {
      "parameters": {
        "queue": "teste",
        "options": {
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": true,
          "onlyContent": true
        }
      },
      "id": "1267e769-2a82-4320-92dc-62da5705b216",
      "name": "Consumidor",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -1920,
        1320
      ],
      "credentials": {
        "rabbitmq": {
          "id": "FUtNv1kFTrj08Qcr",
          "name": "RabbitMQ peak"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "30d54cd5-a226-4613-9ed8-52f312b8b03f",
              "leftValue": "={{ $json.body.message_type }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1740,
        840
      ],
      "id": "21345111-14eb-4b40-9532-515cddc4cb50",
      "name": "verifica se é reecbida ou enviada"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e59b12df-112e-41e3-a128-4a1ee4dacdd5",
              "leftValue": "={{ $json.body.content }}",
              "rightValue": "//excluir//",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1520,
        840
      ],
      "id": "c7dc24e2-6920-4ac4-a50a-21f660284785",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "contact_id",
              "value": "={{ $json.body.conversation.contact_inbox.contact_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1320,
        560
      ],
      "id": "d3ba166e-f947-4e63-83c1-ed11885fa9e1",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "8ofCwrRA0lvWfODI",
          "name": "Supabase|Peak"
        }
      }
    }
  ],
  "pinData": {
    "EvoCloud": [
      {
        "json": {
          "headers": {
            "host": "webhook.bitfy.ai",
            "user-agent": "axios/1.7.7",
            "content-length": "1160",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "34.96.49.28",
            "x-forwarded-host": "webhook.bitfy.ai",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "f9fa80764276",
            "x-real-ip": "34.96.49.28"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "bf10a888-1ab7-4871-92e3-eba64e5ca1c5",
            "instanceName": "Anna 5",
            "data": {
              "key": {
                "id": "3FA7532774EB2FAE340D",
                "remoteJid": "5511948182061@s.whatsapp.net",
                "fromMe": false,
                "profilePicUrl": "https://pps.whatsapp.net/v/t61.24694-24/427790916_1067752487616081_8626231362871951246_n.jpg?ccb=11-4&oh=01_Q5AaIGiZFq7bINx0svUdosoHogluje8a53PlY_b_TVv9FThC&oe=6740F7AA&_nc_sid=5e03e0&_nc_cat=108",
                "participant": null,
                "participantPushName": null
              },
              "pushName": "Pedro Nascimento",
              "status": "DELIVERY_ACK",
              "message": {
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "recipientKeyHash": "TRc7pkw5aO0reQ==",
                    "recipientTimestamp": 1731454482,
                    "senderKeyHash": "1RWUNzEQAl3Pvw==",
                    "senderTimestamp": 1731021199
                  },
                  "deviceListMetadataVersion": 2
                },
                "conversation": "delete meu user"
              },
              "messageType": "conversation",
              "messageTimestamp": 1731454513,
              "instanceId": "bf10a888-1ab7-4871-92e3-eba64e5ca1c5",
              "source": "unknown"
            },
            "destination": "https://webhook.bitfy.ai/webhook/5711be4b-146d-4618-8ec7-81d92f891d40",
            "date_time": "2024-11-12T20:35:13.327Z",
            "sender": "558585035162:13@s.whatsapp.net",
            "server_url": "https://api.evoapicloud.com",
            "apikey": "4A2173803269-4C1C-A946-42FD949F4A9D"
          },
          "webhookUrl": "https://webhook.bitfy.ai/webhook/5711be4b-146d-4618-8ec7-81d92f891d40",
          "executionMode": "production"
        }
      }
    ],
    "Chatwoot": [
      {
        "json": {
          "headers": {
            "host": "webhook.peak.botfai.com.br",
            "user-agent": "rest-client/2.1.0 (linux-musl x86_64) ruby/3.3.3p89",
            "content-length": "2420",
            "accept": "application/json",
            "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
            "content-type": "application/json",
            "x-forwarded-for": "178.156.141.82",
            "x-forwarded-host": "webhook.peak.botfai.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik_traefik.1",
            "x-real-ip": "178.156.141.82"
          },
          "params": {},
          "query": {},
          "body": {
            "account": {
              "id": 17,
              "name": "Time Rafael Brandão"
            },
            "additional_attributes": {},
            "content_attributes": {},
            "content_type": "text",
            "content": "teste",
            "conversation": {
              "additional_attributes": {},
              "can_reply": true,
              "channel": "Channel::Api",
              "contact_inbox": {
                "id": 256306,
                "contact_id": 224631,
                "inbox_id": 109,
                "source_id": "c186dc3f-bf16-4cce-8061-315385ac27c1",
                "created_at": "2025-05-18T15:24:51.204Z",
                "updated_at": "2025-05-18T15:24:51.204Z",
                "hmac_verified": false,
                "pubsub_token": "d1ZXAJAoRgo6vRMZhGFbCgEU"
              },
              "id": 6934,
              "inbox_id": 109,
              "messages": [
                {
                  "id": 4768988,
                  "content": "teste",
                  "account_id": 17,
                  "inbox_id": 109,
                  "conversation_id": 6934,
                  "message_type": 0,
                  "created_at": 1747582227,
                  "updated_at": "2025-05-18T15:30:27.643Z",
                  "private": false,
                  "status": "sent",
                  "source_id": "WAID:3EB002E5935AE8AB4BA70A",
                  "content_type": "text",
                  "content_attributes": {},
                  "sender_type": "Contact",
                  "sender_id": 224631,
                  "external_source_ids": {},
                  "additional_attributes": {},
                  "processed_message_content": "teste",
                  "sentiment": {},
                  "conversation": {
                    "assignee_id": null,
                    "unread_count": 1,
                    "last_activity_at": 1747582227,
                    "contact_inbox": {
                      "source_id": "c186dc3f-bf16-4cce-8061-315385ac27c1"
                    }
                  },
                  "sender": {
                    "additional_attributes": {},
                    "custom_attributes": {},
                    "email": null,
                    "id": 224631,
                    "identifier": "5517992749450@s.whatsapp.net",
                    "name": "Enzo",
                    "phone_number": "+5517992749450",
                    "thumbnail": "",
                    "blocked": false,
                    "type": "contact"
                  }
                }
              ],
              "labels": [],
              "meta": {
                "sender": {
                  "additional_attributes": {},
                  "custom_attributes": {},
                  "email": null,
                  "id": 224631,
                  "identifier": "5517992749450@s.whatsapp.net",
                  "name": "Enzo",
                  "phone_number": "+5517992749450",
                  "thumbnail": "",
                  "blocked": false,
                  "type": "contact"
                },
                "assignee": null,
                "team": null,
                "hmac_verified": false
              },
              "status": "open",
              "custom_attributes": {},
              "snoozed_until": null,
              "unread_count": 1,
              "first_reply_created_at": null,
              "priority": null,
              "waiting_since": 1747581891,
              "agent_last_seen_at": 1747582110,
              "contact_last_seen_at": 0,
              "last_activity_at": 1747582227,
              "timestamp": 1747582227,
              "created_at": 1747581891,
              "updated_at": 1747582227.6467009
            },
            "created_at": "2025-05-18T15:30:27.643Z",
            "id": 4768988,
            "inbox": {
              "id": 109,
              "name": "brandao_4167"
            },
            "message_type": "incoming",
            "private": false,
            "sender": {
              "account": {
                "id": 17,
                "name": "Time Rafael Brandão"
              },
              "additional_attributes": {},
              "avatar": "",
              "custom_attributes": {},
              "email": null,
              "id": 224631,
              "identifier": "5517992749450@s.whatsapp.net",
              "name": "Enzo",
              "phone_number": "+5517992749450",
              "thumbnail": "",
              "blocked": false
            },
            "source_id": "WAID:3EB002E5935AE8AB4BA70A",
            "event": "message_created"
          },
          "webhookUrl": "https://webhook.peak.botfai.com.br/webhook/69bfdebd-909a-4aa3-b6a1-c63ec715a09d11",
          "executionMode": "production"
        }
      }
    ],
    "Consumidor": [
      {
        "json": {
          "headers": {
            "host": "webhook.peak.botfai.com.br",
            "user-agent": "rest-client/2.1.0 (linux-musl x86_64) ruby/3.3.3p89",
            "content-length": "2414",
            "accept": "application/json",
            "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
            "content-type": "application/json",
            "x-forwarded-for": "178.156.141.82",
            "x-forwarded-host": "webhook.peak.botfai.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik_traefik.1",
            "x-real-ip": "178.156.141.82"
          },
          "params": {},
          "query": {},
          "body": {
            "account": {
              "id": 17,
              "name": "Time Rafael Brandão"
            },
            "additional_attributes": {},
            "content_attributes": {},
            "content_type": "text",
            "content": "ola",
            "conversation": {
              "additional_attributes": {},
              "can_reply": true,
              "channel": "Channel::Api",
              "contact_inbox": {
                "id": 256306,
                "contact_id": 224631,
                "inbox_id": 109,
                "source_id": "c186dc3f-bf16-4cce-8061-315385ac27c1",
                "created_at": "2025-05-18T15:24:51.204Z",
                "updated_at": "2025-05-18T15:24:51.204Z",
                "hmac_verified": false,
                "pubsub_token": "d1ZXAJAoRgo6vRMZhGFbCgEU"
              },
              "id": 6934,
              "inbox_id": 109,
              "messages": [
                {
                  "id": 4768999,
                  "content": "ola",
                  "account_id": 17,
                  "inbox_id": 109,
                  "conversation_id": 6934,
                  "message_type": 0,
                  "created_at": 1747582611,
                  "updated_at": "2025-05-18T15:36:51.043Z",
                  "private": false,
                  "status": "sent",
                  "source_id": "WAID:3EB01EDB0CAA9AC780B3AA",
                  "content_type": "text",
                  "content_attributes": {},
                  "sender_type": "Contact",
                  "sender_id": 224631,
                  "external_source_ids": {},
                  "additional_attributes": {},
                  "processed_message_content": "ola",
                  "sentiment": {},
                  "conversation": {
                    "assignee_id": null,
                    "unread_count": 5,
                    "last_activity_at": 1747582611,
                    "contact_inbox": {
                      "source_id": "c186dc3f-bf16-4cce-8061-315385ac27c1"
                    }
                  },
                  "sender": {
                    "additional_attributes": {},
                    "custom_attributes": {},
                    "email": null,
                    "id": 224631,
                    "identifier": "5517992749450@s.whatsapp.net",
                    "name": "Enzo",
                    "phone_number": "+5517992749450",
                    "thumbnail": "",
                    "blocked": false,
                    "type": "contact"
                  }
                }
              ],
              "labels": [],
              "meta": {
                "sender": {
                  "additional_attributes": {},
                  "custom_attributes": {},
                  "email": null,
                  "id": 224631,
                  "identifier": "5517992749450@s.whatsapp.net",
                  "name": "Enzo",
                  "phone_number": "+5517992749450",
                  "thumbnail": "",
                  "blocked": false,
                  "type": "contact"
                },
                "assignee": null,
                "team": null,
                "hmac_verified": false
              },
              "status": "open",
              "custom_attributes": {},
              "snoozed_until": null,
              "unread_count": 5,
              "first_reply_created_at": null,
              "priority": null,
              "waiting_since": 1747581891,
              "agent_last_seen_at": 1747582110,
              "contact_last_seen_at": 0,
              "last_activity_at": 1747582611,
              "timestamp": 1747582611,
              "created_at": 1747581891,
              "updated_at": 1747582611.0464036
            },
            "created_at": "2025-05-18T15:36:51.043Z",
            "id": 4768999,
            "inbox": {
              "id": 109,
              "name": "brandao_4167"
            },
            "message_type": "incoming",
            "private": false,
            "sender": {
              "account": {
                "id": 17,
                "name": "Time Rafael Brandão"
              },
              "additional_attributes": {},
              "avatar": "",
              "custom_attributes": {},
              "email": null,
              "id": 224631,
              "identifier": "5517992749450@s.whatsapp.net",
              "name": "Enzo",
              "phone_number": "+5517992749450",
              "thumbnail": "",
              "blocked": false
            },
            "source_id": "WAID:3EB01EDB0CAA9AC780B3AA",
            "event": "message_created"
          },
          "webhookUrl": "https://webhook.peak.botfai.com.br/webhook/69bfdebd-909a-4aa3-b6a1-c63ec715a09d11",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 4,
  "updatedAt": "2025-05-19T02:22:15.870Z",
  "versionId": "a9f59b98-c184-4a9b-8ac7-64d2ff93441a"
}