workflows/zoljzNfiP70SqU07.json
{
  "active": false,
  "connections": {
    "Postgres": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Webhook": {
      "main": [
        []
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ajustas tag chatwoot (bot-ativo)": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg": {
      "main": [
        [
          {
            "node": "ajustas tag chatwoot (bot-ativo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [],
        [],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-04T13:54:46.777Z",
  "id": "zoljzNfiP70SqU07",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Abordagem inicial Tenente",
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "contacts",
          "mode": "list",
          "cachedResultName": "contacts"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.body.conversation.contact_inbox.contact_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -460,
        240
      ],
      "id": "0f30292f-99ba-4745-b2e6-4efdb63e8337",
      "name": "Postgres",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "cicjfix16kiWOkLl",
          "name": "db-chatwoot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ce494b1-2a48-4467-acbe-f1289e6e8634",
              "leftValue": "={{ $json.maisQue15Segundos }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -260,
        240
      ],
      "id": "5855ff79-51e8-45ae-a1f4-3e3a6a77da74",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Converte timestamps em objetos Date\nconst createdAt = new Date($json.created_at);\nconst now       = new Date($now);\n\n// Diferença em milissegundos\nconst diffMs = now.getTime() - createdAt.getTime();\n\n// Verifica se passou mais de 15 segundos (15 000 ms)\nconst maisQue15Segundos = diffMs > 15000;\n\nreturn [\n  {\n    json: {\n      created_at:       $json.created_at,\n      agora:            $now,\n      maisQue15Segundos\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        240
      ],
      "id": "10b151c2-d672-43b8-aec4-979770e49191",
      "name": "Code"
    },
    {
      "parameters": {
        "amount": 7
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -60,
        440
      ],
      "id": "5e08d831-5e95-4cb6-b795-56b39527312c",
      "name": "Wait",
      "webhookId": "eb375fc3-7ec3-4cb9-a607-8b22dc1ef15d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4e57a13a-c2f0-42d1-bfb7-ec2ad7fe1e03",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "automation_event.conversation_created",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -300,
        440
      ],
      "id": "212125fe-e08c-44f2-9717-36f8f7ab4b4c",
      "name": "If1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aed07f4d-f42b-4806-a5c6-6957b6ff68d1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -560,
        240
      ],
      "id": "a8b61c2d-b2c3-4bdc-b880-0c126c7c209c",
      "name": "Webhook",
      "webhookId": "aed07f4d-f42b-4806-a5c6-6957b6ff68d1",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bb07c647-e5bd-44d5-a6e8-fcb8caf2a1d3",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -740,
        440
      ],
      "id": "e78a4ffc-c811-4fd4-a75e-6e23f5bc9db9",
      "name": "Webhook1",
      "webhookId": "bb07c647-e5bd-44d5-a6e8-fcb8caf2a1d3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.peakperformance.app.br/api/v1/accounts/12/conversations/{{ $json.conversation_id }}/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "=ULkuNbNYpcctAj4LEcXLWUYq"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"labels\": [\n \"iniciou-atendimento\"\n]\n} ",
        "options": {}
      },
      "id": "378d29ce-27a5-4dc4-b4df-32f6da5e5015",
      "name": "ajustas tag chatwoot (bot-ativo)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        440
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "05eb2f59-58be-42db-8792-9457175b5c3f",
                    "leftValue": "={{ $('Webhook1').item.json.body.contact_inbox.inbox_id }}",
                    "rightValue": 103,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2832"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook1').item.json.body.contact_inbox.inbox_id }}",
                    "rightValue": 104,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "fcde678f-043a-4ba9-9bef-a6254b8c0c6f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1991"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7383f169-8b7d-4200-aa47-703db0d1c45d",
                    "leftValue": "={{ $('Webhook1').item.json.body.contact_inbox.inbox_id }}",
                    "rightValue": 105,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "8971"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "12cdcc88-f9b8-4ffb-85f8-84fc303154e1",
                    "leftValue": "={{ $('Webhook1').item.json.body.contact_inbox.inbox_id }}",
                    "rightValue": 106,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "0293"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        620,
        160
      ],
      "id": "873255bd-a737-453b-b461-b4368e1b7427",
      "name": "Switch",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.peakperformance.app.br/api/v1/accounts/12/conversations/{{ $json.body.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "ULkuNbNYpcctAj4LEcXLWUYq"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Seja bem vindo ao Esquadrão Águia. \nMe fala seu nome e idade para eu salvar aqui."
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "id": "32f81858-232f-4b71-8ff7-9560d123a3e0",
      "name": "msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        440
      ],
      "retryOnFail": false,
      "notesInFlow": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wsapi.peak.botfai.com.br/label/handleLabel/teste_tag",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "l6v7CBnNIRo041fLlwlvmAXCcPlc"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $('Webhook1').item.json.body.meta.sender.identifier }}\",\n    \"labelId\": \"11\",\n    \"action\": \"add\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        160
      ],
      "id": "690e1673-9f66-40ad-830a-2763320a7ad0",
      "name": "HTTP Request7",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wsapi.peak.botfai.com.br/label/handleLabel/teste_tag",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "l6v7CBnNIRo041fLlwlvmAXCcPlc"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $('Webhook1').item.json.body.meta.sender.identifier }}\",\n    \"labelId\": \"76\",\n    \"action\": \"add\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        200
      ],
      "id": "5ef5f8b6-fc9b-420c-b2ed-329faf66d5b7",
      "name": "HTTP Request6",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wsapi.peak.botfai.com.br/label/handleLabel/teste_tag",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "l6v7CBnNIRo041fLlwlvmAXCcPlc"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $('Webhook1').item.json.body.meta.sender.identifier }}\",\n    \"labelId\": \"25\",\n    \"action\": \"add\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        200
      ],
      "id": "ae76ad68-846f-42dc-9dca-a0b010710000",
      "name": "HTTP Request5",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://wsapi.peak.botfai.com.br/label/findLabels/Tenente_0293",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "l6v7CBnNIRo041fLlwlvmAXCcPlc"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        200
      ],
      "id": "2c194ed3-1a27-4826-8159-071f477cd223",
      "name": "HTTP Request4",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://wsapi.peak.botfai.com.br/label/findLabels/Tenente_8971",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "l6v7CBnNIRo041fLlwlvmAXCcPlc"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        200
      ],
      "id": "53a77956-cb9b-4889-8699-a8f6b34e2086",
      "name": "HTTP Request3",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://wsapi.peak.botfai.com.br/label/findLabels/Tenente_1991",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "l6v7CBnNIRo041fLlwlvmAXCcPlc"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        180
      ],
      "id": "cdb44afc-819f-48b3-84e7-903ef45ff198",
      "name": "HTTP Request2",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wsapi.peak.botfai.com.br/label/handleLabel/teste_tag",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "l6v7CBnNIRo041fLlwlvmAXCcPlc"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $('Webhook1').item.json.body.meta.sender.identifier }}\",\n    \"labelId\": \"25\",\n    \"action\": \"add\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        180
      ],
      "id": "e938554c-0f38-42b2-b70f-db1a90b67c63",
      "name": "HTTP Request1",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://wsapi.peak.botfai.com.br/label/findLabels/Tenente_2832",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "l6v7CBnNIRo041fLlwlvmAXCcPlc"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        200
      ],
      "id": "6b72c799-d209-464f-95b8-1c6d3887951c",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.inbox_id }}",
                    "rightValue": 105,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "b528cc72-7a5d-4137-a004-104085f7530a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "105"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9004a0e-4b6b-4c30-a4c0-be20f7901b07",
                    "leftValue": "={{ $json.body.inbox_id }}",
                    "rightValue": 103,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "103"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -540,
        440
      ],
      "id": "9b073b7e-da75-405e-9746-8ab3d7658012",
      "name": "Switch1"
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "webhook.peak.botfai.com.br",
            "user-agent": "rest-client/2.1.0 (linux-musl x86_64) ruby/3.3.3p89",
            "content-length": "1035",
            "accept": "application/json",
            "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
            "content-type": "application/json",
            "x-forwarded-for": "178.156.141.82",
            "x-forwarded-host": "webhook.peak.botfai.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik_traefik.1",
            "x-real-ip": "178.156.141.82"
          },
          "params": {},
          "query": {},
          "body": {
            "additional_attributes": {},
            "can_reply": true,
            "channel": "Channel::Api",
            "contact_inbox": {
              "id": 253271,
              "contact_id": 222927,
              "inbox_id": 103,
              "source_id": "e7eb2f44-09cd-4808-9c14-e25cbbb2b9b1",
              "created_at": "2025-05-07T15:55:32.542Z",
              "updated_at": "2025-05-07T15:55:32.542Z",
              "hmac_verified": false,
              "pubsub_token": "7MvBez4C5RcUDYNbCHrX9PDk"
            },
            "id": 37241,
            "inbox_id": 103,
            "messages": [],
            "labels": [],
            "meta": {
              "sender": {
                "additional_attributes": {},
                "custom_attributes": {},
                "email": null,
                "id": 222927,
                "identifier": "554799830536@s.whatsapp.net",
                "name": "Gabriel A. Zavatini",
                "phone_number": "+554799830536",
                "thumbnail": "",
                "blocked": false,
                "type": "contact"
              },
              "assignee": null,
              "team": null,
              "hmac_verified": false
            },
            "status": "pending",
            "custom_attributes": {},
            "snoozed_until": null,
            "unread_count": 1,
            "first_reply_created_at": null,
            "priority": null,
            "waiting_since": 1746633332,
            "agent_last_seen_at": 0,
            "contact_last_seen_at": 0,
            "last_activity_at": 1746633332,
            "timestamp": 1746633332,
            "created_at": 1746633332,
            "updated_at": 1746633332.553531,
            "event": "automation_event.conversation_created"
          },
          "webhookUrl": "https://webhook.peak.botfai.com.br/webhook/bb07c647-e5bd-44d5-a6e8-fcb8caf2a1d3",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-06-15T23:19:55.462Z",
  "versionId": "7bf2e0f3-2822-4998-a116-8b494c04bed4"
}